In [1]:
t=(1,2,3)

In [2]:
t[0]=4

TypeError: 'tuple' object does not support item assignment

In [3]:
?t.count

In [4]:
a = (3)

In [5]:
type(a)

int

In [6]:
b=(3,)

In [7]:
type(b)

tuple

In [8]:
a = set([1,1,2,2,3])

In [9]:
a

{1, 2, 3}

In [10]:
type(a)

set

In [11]:
A={1,2,3}
B={3,4,5}

In [12]:
A.intersection(B)

{3}

In [13]:
A.union(B)

{1, 2, 3, 4, 5}

In [14]:
A.difference(B)

{1, 2}

In [15]:
s = 'python'

In [16]:
type(s)

str

In [17]:
len(s)

6

In [18]:
s[0]

'p'

In [19]:
s[0:3]

'pyt'

In [20]:
s[0]='c'

TypeError: 'str' object does not support item assignment

In [21]:
s='Today is a good day'

In [22]:
s.split()

['Today', 'is', 'a', 'good', 'day']

In [23]:
s.split('a')

['Tod', 'y is ', ' good d', 'y']

In [24]:
s.split('is')

['Today ', ' a good day']

In [25]:
len(s.split())

5

In [28]:
s1=s.strip('y')

In [27]:
s

'Today is a good day'

In [29]:
s1

'Today is a good da'

In [30]:
s.strip('day')

'Today is a good '

In [31]:
s.strip()

'Today is a good day'

In [32]:
s2 = 'today                 '

In [34]:
s2.strip()

'today'

In [35]:
s.find('is')

6

In [38]:
s.replace('o','')

'Tday is a gd day'

In [37]:
s

'Today is a good day'

In [39]:
s2 = '웃긴다 ㅋㅋㅋ !!!!'

In [43]:
s2.replace('ㅋ','').replace('!','').strip()

'웃긴다'

In [41]:
s2.replace('!','')

'웃긴다 ㅋㅋㅋ '

In [44]:
','.join(['apple', 'carret','banana'])

'apple,carret,banana'

In [48]:
s='Today\nFriday'

In [49]:
print(s)

Today
Friday

In [50]:
s

'Today\nFriday'

In [51]:
s='Today is a good day.\n'

In [52]:
s.strip()

'Today is a good day.'

In [53]:
t = 'Tom's book'

SyntaxError: invalid syntax (<ipython-input-53-8a645f01ea5c>, line 1)

In [54]:
t = 'Tom\'s book'

In [55]:
print(t)

Tom's book

In [56]:
t1 = "Tom's book"

In [57]:
print(t1)

Tom's book

In [58]:
d = {'Tom': 23, 'John': 34, 'Bob': 12}

In [59]:
d['Tom']

23

In [60]:
d['Sarah']=33

In [61]:
d

{'Bob': 12, 'John': 34, 'Sarah': 33, 'Tom': 23}

In [62]:
d['Bob']=34

In [63]:
d

{'Bob': 34, 'John': 34, 'Sarah': 33, 'Tom': 23}

In [64]:
len(d)

4

In [66]:
list(d.keys())

['Tom', 'John', 'Bob', 'Sarah']

In [67]:
d1={'Tom':23, 'Kai':12}

In [68]:
d.update(d1)

In [69]:
d

{'Bob': 34, 'John': 34, 'Kai': 12, 'Sarah': 33, 'Tom': 23}

In [70]:
x = 2

In [71]:
if x%2==0:
    print('it is even')
else:
    print('it is odd')

it is even

In [72]:
if x%2==1:
    print('it is even')
else:
    print('it is odd')

it is odd

In [73]:
if x%3==0:
    print('3의 배수')
elif x%3 == 1:
    print('3의 배수 + 1')
else:
    print('3의 배수 + 2')

3의 배수 + 2

In [75]:
x=4
if x%3==0:
    print('3의 배수')
    print(x)
elif x%3 == 1:
    print('3의 배수 + 1')
    print(x)

else:
    print('3의 배수 + 2')

3의 배수 + 1
4

In [76]:
x=5
if x%3==0:
    print('3의 배수')
    print(x)
elif x%3 == 1:
    print('3의 배수 + 1')
    print(x)

In [77]:
x=2
if x%2==0:
    print('2의 배수')
    print(x)

2의 배수
2

In [80]:
a=[]
if a:
    print('It is True')

In [81]:
3 != 4

True

In [83]:
x = [1, 2, 3]
for k in x:
    print(k**2)

1
4
9

In [84]:

total = 0
for k in x:
    if k%2!=0:
        total = total + k
print(total)

4

In [85]:
for k in range(5):
    print(k)

0
1
2
3
4

In [86]:
for k in [0,1,2,3,4]:
    print(k)

0
1
2
3
4

In [87]:
x = [1,2,3]
for k in range(len(x)):
    print(x[k])

1
2
3

In [88]:
for key in d.keys():
    print(key, d[key])

Tom 23
John 34
Bob 34
Sarah 33
Kai 12

In [89]:
d.keys()

dict_keys(['Tom', 'John', 'Bob', 'Sarah', 'Kai'])