In [1]:
import pandas as pd
import numpy as np

In [7]:
illness = pd.read_csv('illness.csv')

In [33]:
tmp = []
for i in range(illness.shape[0]):
    for j in range(illness.iloc[i,:]['yes']):
        tmp.append(list(illness.drop(columns=['no','yes']).iloc[i,:])+[1])
    for j in range(illness.iloc[i,:]['no']):
        tmp.append(list(illness.drop(columns=['no','yes']).iloc[i,:])+[0])

In [43]:
refined_dat = pd.DataFrame(tmp,columns=['t-1', 't-2', 's', 't','y'])

In [44]:
from sklearn.linear_model import LogisticRegression
X, y = refined_dat.drop(columns='y'),refined_dat['y']

In [50]:
?LogisticRegression

In [48]:
clf = LogisticRegression(random_state=0, solver='lbfgs',
                         multi_class='ovr').fit(X, y)
#clf.predict(X[:2, :])

In [51]:
refined_dat.to_csv('illness2.csv',encoding='utf8',index=0)

In [49]:
clf.coef_

array([[ 1.87567248,  1.12026515,  0.1715481 , -0.41340348]])

In [8]:
illness

     no  yes  t-1  t-2  s   t
0   261   13    0    0  0  10
1    22    4    0    1  0  10
2    18    6    1    0  0  10
3    12   14    1    1  0  10
4   125    9    0    0  1  10
5    15    3    0    1  1  10
6    11    3    1    0  1  10
7    10   11    1    1  1  10
8   247   19    0    0  0   9
9    27    5    0    1  0   9
10   18   10    1    0  0   9
11    8   16    1    1  0   9
12  124   10    0    0  1   9
13   10    4    0    1  1   9
14   12   10    1    0  1   9
15    6   11    1    1  1   9