# 190323 SparkSQL 실습

In [2]:
sc

In [3]:
import collections

from pyspark import StorageLevel
from pyspark.sql import Row
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql import functions
from pyspark.sql.types import *
from pyspark.sql.window import Window
import time
from pyspark.sql.functions import udf
from pyspark.sql.types import *

## 데이터 불러오기

이 데이터는 2001년부터 2019년까지의 모든 야구 경기를 나타낸 데이터입니다.

- team1, team2 : 경기에 참여한 팀
- teams : team1 + team2
- stadium : 해당 경기를 치룬 경기장
- etc : 해당 경기의 상태 (제대로 경기를 했는지, 그렇지 못하면 무슨 사유로 취소되었는지)
- year, day_of_week, date : 그 경기가 이루어진 년도, 요일, 날짜에 대한 데이터

In [5]:
stadium = spark.read.csv("/FileStore/tables/stadium.csv", header = True)
stadium.show()

In [6]:
stadium.printSchema()

## 야구 팀은 뭐가 있지?... 그 팀은 몇 번 경기를 했을까?
18개의 팀이 나오지만 2001년부터의 데이터가 모여있기 때문에 현재는 없어진 팀들도 있습니다.

현재는 두산, SK, 키움, 롯데, NC, 삼성, KT, KIA, LG, 한화로 10개 팀이 있습니다.

In [8]:
stadium.groupBy('team1').count().show()

## Q1. 팀 개수 한 번에 세고 싶다면?
Hint : stadium.select()를 하고 괄호 안에 중복되지 않는 값을 세는 메소드를 넣어줍니다.

## Q2. etc에는 무슨 데이터들이 들어가있을까요?

## 각 년도별 총 경기 횟수

In [14]:
# asc : 오름차순 / desc : 내림차순
stadium.sort(desc('year')).groupBy('year').count().show()

## 2019년 시즌 경기 중 각 경기장에서 일어나는 경기의 수

잠실은 두산과 LG가 같이 홈으로 사용하여 count가 타 구장에 비해 2배 높을 수밖에 없습니다.

In [16]:
stadium.where(stadium['year'] == 2019).sort(asc('stadium')).groupBy('stadium').count().show()

## 특정 팀이 참여한 경기만 뽑아보기

각자 원하시는 팀 이름을 넣어주세용

In [18]:
team = stadium.filter("teams like '%두산%'")

In [19]:
team.show()

## Q3. 그 팀이 2018년에 각각 어느 경기장에서 몇 번을 경기했을까요? (내림차순 정렬)
2018년 총 경기 횟수 144회

한 시즌에 A 팀이 B 팀과 경기하는 횟수는 보통 16회

따라서 홈 구장을 제외하고 타 구장에선 보통 8번 정도 경기를 하게 되고, 나머지는 모두 홈 구장에서 경기가 이루어집니다.

## Q4. 미세먼지취소였던 날의 경기를 뽑아주세요