# 190323 SparkSQL

thanks to 12기 지훈님,,,




Reference : https://spark.apache.org/docs/latest/api/python/pyspark.sql.html

In [1]:
sc

## [ 코드 작성 절차(Word Count) ]

In [2]:
# 스파크 세션 생성
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession\
        .builder\
        .appName("sample")\
        .master("local[*]")\
        .getOrCreate()

In [3]:
# 텍스트 파일 불러오기
source = "/FileStore/tables/countMe.txt" # 각자 파일이 있는 경로로 재지정 해주세요!         
df = spark.read.text(source)  
df.show()

+--------------------+
|               value|
+--------------------+
|A bad penny alway...|
|A barking dog nev...|
|A bird in the han...|
|A cat may look at...|
|A chain is only a...|
|A change is as go...|
|A dog is a man's ...|
|A drowning man wi...|
|A fish always rot...|
|A fool and his mo...|
|A friend in need ...|
|A golden key can ...|
|A good beginning ...|
|A good man is har...|
|A house divided a...|
|A person is known...|
|A house is not a ...|
|A journey of a th...|
|A leopard cannot ...|
|A little knowledg...|
+--------------------+
only showing top 20 rows

In [4]:
# "value" 컬럼의 데이터를 띄어쓰기 단위로 split하여 분리된 문자열 배열을 포함한 칼럼을 하나의 값을 가진 여러 개의 열로 확장
# 그리고 새로 만들어진 컬럼의 별칭을 "word"라고 한다
wordDF= df.select(explode(split(col("value"), " ")).alias("word"))

In [5]:
wordDF.show()

+-------+
|   word|
+-------+
|      A|
|    bad|
|  penny|
| always|
|  turns|
|     up|
|      A|
|barking|
|    dog|
|  never|
|  bites|
|      A|
|   bird|
|     in|
|    the|
|   hand|
|     is|
|  worth|
|    two|
|     in|
+-------+
only showing top 20 rows

In [7]:
# "word" 컬럼을 기준으로 groupBy하여 각 단어가 몇 번씩 나왔는지를 count한다
result=wordDF.groupBy("word").count()

In [8]:
result.show()

+----------+-----+
|      word|count|
+----------+-----+
|      July|    1|
|     those|    5|
|     spoil|    3|
|    travel|    2|
|       few|    1|
|pack-drill|    1|
|    waters|    1|
|    harder|    1|
|      hope|    1|
|      some|    1|
|    taking|    1|
|   Sabbath|    1|
|     parts|    1|
|      lies|    1|
|    Mighty|    1|
|  Tomorrow|    2|
|   vinegar|    1|
|   stomach|    2|
|   showers|    2|
|   flowers|    2|
+----------+-----+
only showing top 20 rows

In [ ]:
# 결과 저장
outdir = "file:///home/ubuntu/19-1Engineering/Practice/output/" # 각자 파일이 있는 경로로 재지정 해주세요!
result.write.format("csv").save(outdir)

In [9]:
# 스파크 컨텍스트 종료
spark.stop()

In [ ]:
# DataFrame을 생성 후 SQL의 SELECT 문으로 원하는 데이터를 조회해보자
# 위에 코드를 하나로 합쳐놓았습니다
# 안돌리셔도 돼요!
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession\
        .builder\
        .appName("sample")\
        .master("local[*]")\
        .getOrCreate()
        
source = "/FileStore/tables/countMe.txt"         
df = spark.read.text(source)  

wordDF = df.select(explode(split(col("value"), " ")).alias("word"))
result = wordDF.groupBy("word").count()
result.show()

outdir = "file:///home/ubuntu/19-1Engineering/Practice/output/"
result.write.format("csv").save(outdir)

spark.stop()

## [ DataFrame 생성 ]

In [3]:
import collections

from pyspark import StorageLevel
from pyspark.sql import Row
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql import functions
from pyspark.sql.types import *
from pyspark.sql.window import Window
import time

spark = SparkSession \
    .builder \
    .appName("sample") \
    .master("local[*]") \
    .getOrCreate()

sc = spark.sparkContext

### 외부 데이터 소스로부터 Dataframe 생성

In [6]:
commonDir = "/FileStore/tables/"
df1 = spark.read.json(commonDir + "people.json")
df2 = spark.read.parquet(commonDir + "users.parquet")
df3 = spark.read.text(commonDir + "people.txt")

df1.show()
df2.show()
df3.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

+------+--------------+----------------+
|  name|favorite_color|favorite_numbers|
+------+--------------+----------------+
|Alyssa|          null|  [3, 9, 15, 20]|
|   Ben|           red|              []|
+------+--------------+----------------+

+-----------+
|      value|
+-----------+
|Michael, 29|
|   Andy, 30|
| Justin, 19|
+-----------+

### RDD로부터 Dataframe 생성

In [9]:
row1 = Row(name="hayoon", age=7, job="student")
row2 = Row(name="sunwoo", age=13, job="student")
row3 = Row(name="hajoo", age=5, job="kindergartener")
row4 = Row(name="jinwoo", age=13, job="student")

data = [row1, row2, row3, row4]
rdd = spark.sparkContext.parallelize(data)

df4 = spark.createDataFrame(data)
df4.show()

+---+--------------+------+
|age|           job|  name|
+---+--------------+------+
|  7|       student|hayoon|
| 13|       student|sunwoo|
|  5|kindergartener| hajoo|
| 13|       student|jinwoo|
+---+--------------+------+

### List로부터 Dataframe 생성

In [10]:
row1 = Row(name="hayoon", age=7, job="student")
row2 = Row(name="sunwoo", age=13, job="student")
row3 = Row(name="hajoo", age=5, job="kindergartener")
row4 = Row(name="jinwoo", age=13, job="student")

data = [row1, row2, row3, row4]

df5 = spark.createDataFrame(data)
df5.show()

+---+--------------+------+
|age|           job|  name|
+---+--------------+------+
|  7|       student|hayoon|
| 13|       student|sunwoo|
|  5|kindergartener| hajoo|
| 13|       student|jinwoo|
+---+--------------+------+

In [54]:
d1 = ("store2", "note", 20, 2000)
d2 = ("store2", "bag", 10, 5000)
d3 = ("store1", "note", 15, 1000)
d4 = ("store1", "pen", 20, 5000)
df8 = spark.createDataFrame([d1, d2, d3, d4]).toDF("store", "product", "amount", "price")
df8.show()

+------+-------+------+-----+
| store|product|amount|price|
+------+-------+------+-----+
|store2|   note|    20| 2000|
|store2|    bag|    10| 5000|
|store1|   note|    15| 1000|
|store1|    pen|    20| 5000|
+------+-------+------+-----+

### Schema 지정으로 Dataframe 생성

In [11]:
sf1 = StructField("name", StringType(), True)
sf2 = StructField("age", IntegerType(), True)
sf3 = StructField("job", StringType(), True)

schema = StructType([sf1, sf2, sf3])

r1 = Row(name="hayoon", age=7, job="student")
r2 = Row(name="sunwoo", age=13, job="student")
r3 = Row(name="hajoo", age=5, job="kindergartener")
r4 = Row(name="jinwoo", age=13, job="student")
rows = [r1, r2, r3, r4]

df6 = spark.createDataFrame(rows, schema)
df6.show()

+------+---+--------------+
|  name|age|           job|
+------+---+--------------+
|hayoon|  7|       student|
|sunwoo| 13|       student|
| hajoo|  5|kindergartener|
|jinwoo| 13|       student|
+------+---+--------------+

### class를 이용하여 Dataframe 생성

In [13]:
#사용자가 class를 정의한 후, 새로운 객체를 생성하고 그 객체를 이용해서 Dataframe으로 생성
class Word:
    def __init__(self, word, count):
        self.word = word
        self.count = count

ldf = spark.createDataFrame([Word("w1", 1), Word("w2", 1)])
rdf = spark.createDataFrame([Word("w1", 1), Word("w3", 1)])
ldf.show()
rdf.show()

+-----+----+
|count|word|
+-----+----+
|    1|  w1|
|    1|  w2|
+-----+----+

+-----+----+
|count|word|
+-----+----+
|    1|  w1|
|    1|  w3|
+-----+----+

## [ 주요 연산 ]

### 액션 연산

show()

In [15]:
# show()
# DataFrame에 저장된 데이터를 화면에 출력
df6.show()

+------+---+--------------+
|  name|age|           job|
+------+---+--------------+
|hayoon|  7|       student|
|sunwoo| 13|       student|
| hajoo|  5|kindergartener|
|jinwoo| 13|       student|
+------+---+--------------+

head() / first()

In [16]:
# head, first
# 첫 번째 로우를 리턴
df6.head()

Row(name='hayoon', age=7, job='student')

take()

In [17]:
# take(n)
# 첫 n개를 보여줌
df6.take(3)

[Row(name='hayoon', age=7, job='student'),
 Row(name='sunwoo', age=13, job='student'),
 Row(name='hajoo', age=5, job='kindergartener')]

count()

In [18]:
# count
# RDD의 count()연산과 동일, 로우의 개수를 리턴
df6.count()

4

collect()

In [19]:
# collect
# 데이터셋에 있는 데이터를 로컬 컬렉션(배열) 형태로 리턴
# 메모리 부족 에러가 발생하지 않도록 주의!
df6.collect()

[Row(name='hayoon', age=7, job='student'),
 Row(name='sunwoo', age=13, job='student'),
 Row(name='hajoo', age=5, job='kindergartener'),
 Row(name='jinwoo', age=13, job='student')]

describe()

In [20]:
# describe
df6.describe("age").show()

+-------+-----------------+
|summary|              age|
+-------+-----------------+
|  count|                4|
|   mean|              9.5|
| stddev|4.123105625617661|
|    min|                5|
|    max|               13|
+-------+-----------------+

In [21]:
df6.describe("job").show()

+-------+--------------+
|summary|           job|
+-------+--------------+
|  count|             4|
|   mean|          null|
| stddev|          null|
|    min|kindergartener|
|    max|       student|
+-------+--------------+

### 4-2. 기본 연산

persist() / cache()

In [22]:
# cache는 persist와 동일한 기능 제공
# 작업중인 데이터를 메모리에 저장

from pyspark import StorageLevel

df6.persist(StorageLevel.MEMORY_AND_DISK_2)

DataFrame[name: string, age: int, job: string]

http://스파크셸실행시킨서버:4040 으로 접속

In [23]:
df6.count()

4

http://스파크셸실행시킨서버:4040 다시 확인

printSchema()

In [24]:
# printSchema(), columns, dtypes, schema
# 스키마 정보를 조회하는 메서드와 리스트들

df6.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)

columns

In [25]:
# 메서드가 아닙니다. 리스트를 반환합니다.
df6.columns

['name', 'age', 'job']

dtypes

In [26]:
# 메서드가 아닙니다. 리스트를 반환합니다.
df6.dtypes

[('name', 'string'), ('age', 'int'), ('job', 'string')]

schema

In [27]:
# 메서드가 아닙니다. 리스트를 반환합니다.
df7.schema

StructType(List(StructField(name,StringType,true),StructField(age,LongType,true),StructField(job,StringType,true)))

createOrReplaceTempView()

In [31]:
# createOrReplaceTempView()

# DataFrame을 SQL문을 이용해 테이블처럼 조회할 수 있도록 등록해줍니다.
# 단, 이 메서드로 등록된 테이블은 스파크세션이 유지되는 동안만 유효합니다.
# (세션이 종료되면 사라짐)

df6.createOrReplaceTempView("Example")
spark.sql("SELECT name, age FROM Example WHERE age > 10").show()

+------+---+
|  name|age|
+------+---+
|sunwoo| 13|
|jinwoo| 13|
+------+---+

explain()

In [32]:
# explain()

# 데이터프레임 처리와 관련된 실행 계획 정보를 출력합니다.

spark.sql("SELECT name, age FROM Example WHERE age > 10").explain()

== Physical Plan ==
*(1) Filter (isnotnull(age#100) && (age#100 > 10))
+- InMemoryTableScan [name#99, age#100], [isnotnull(age#100), (age#100 > 10)]
      +- InMemoryRelation [name#99, age#100, job#101], true, 10000, StorageLevel(disk, memory, 2 replicas)
            +- Scan ExistingRDD[name#99,age#100,job#101]

### 비타입 트랜스포메이션

데이터의 실제 타입을 사용하지 않는 변환 연산을 수행한다는 의미에서 붙여진 이름

In [33]:
# SQL문을 직접 이용한 연산

spark.sql("SELECT name, age, job FROM Example WHERE age > 10").show()

+------+---+-------+
|  name|age|    job|
+------+---+-------+
|sunwoo| 13|student|
|jinwoo| 13|student|
+------+---+-------+

In [35]:
# 이 연산과 동일합니다.
# 이런 형태의 연산을 비타입 트랜스포메이션 연산이라 합니다.

df6.where(df6['age'] > 10).show()
#df6.where(df6.age > 20).show() # 이런 형태도 가능

+------+---+-------+
|  name|age|    job|
+------+---+-------+
|sunwoo| 13|student|
|jinwoo| 13|student|
+------+---+-------+

alias(), as()

In [36]:
df6.select(df6['age'] + 1).show()

+---------+
|(age + 1)|
+---------+
|        8|
|       14|
|        6|
|       14|
+---------+

In [37]:
# alias()

# 컬럼 명에 원하는 이름을 붙여줄 수 있습니다. 
df6.select((df6['age'] + 1).alias("age")).show()

+---+
|age|
+---+
|  8|
| 14|
|  6|
| 14|
+---+

isin()

In [40]:
# isIn()

# 컬럼의 값이 인자로 지정된 값에 포함되어 있는지의 여부를 확인합니다.
# 아래의 예제는 유효한 값을 broadcast 변수에 담아 필터처럼 사용합니다.

from pyspark.sql import Row

nums = spark.sparkContext.broadcast([1, 3, 5, 7, 9])
rdd = spark.sparkContext.parallelize(range(0, 7)).map(lambda v: Row(v))
df = spark.createDataFrame(rdd)
df.where(df._1.isin(nums.value)).show()

+---+
| _1|
+---+
|  1|
|  3|
|  5|
+---+

when()

In [41]:
# when()

from pyspark.sql import functions

ds = spark.range(0, 5)
col = functions.when(ds.id % 2 == 0, "even").otherwise("odd").alias("type")
ds.select(ds.id, col).show()

+---+----+
| id|type|
+---+----+
|  0|even|
|  1| odd|
|  2|even|
|  3| odd|
|  4|even|
+---+----+

In [42]:
d1 = ("store2", "note", 20, 2000)
d2 = ("store2", "bag", 10, 5000)
d3 = ("store1", "note", 15, 1000)
d4 = ("store1", "pen", 20, 5000)
df = spark.createDataFrame([d1, d2, d3, d4]).toDF("store", "product", "amount", "price")

gdf = df.groupBy(df.store)
sorted(gdf.agg({"*": "count"}).collect())

sorted(gdf.agg(functions.min(df.amount)).collect())

[Row(store='store1', min(amount)=15), Row(store='store2', min(amount)=10)]

max(), mean()

In [43]:
df6.select(max(df6['age'])).show()

+--------+
|max(age)|
+--------+
|      13|
+--------+

In [44]:
df6.select(max(df6['job'])).show()

+--------+
|max(job)|
+--------+
| student|
+--------+

In [45]:
df6.select(mean(df6['age'])).show()

+--------+
|avg(age)|
+--------+
|     9.5|
+--------+

In [46]:
df6.select(mean(df6['job'])).show()

+--------+
|avg(job)|
+--------+
|    null|
+--------+

collect_list() , collect_set()

In [47]:
# 특정 컬럼 값을 모아서 하나의 리스트 또는 세트(set)로 된 컬럼을 생성함
# 리스트는 중복 포함, 세트는 중복 미포함

doubleDf = df6.union(df6)
doubleDf.show()

+------+---+--------------+
|  name|age|           job|
+------+---+--------------+
|hayoon|  7|       student|
|sunwoo| 13|       student|
| hajoo|  5|kindergartener|
|jinwoo| 13|       student|
|hayoon|  7|       student|
|sunwoo| 13|       student|
| hajoo|  5|kindergartener|
|jinwoo| 13|       student|
+------+---+--------------+

In [48]:
doubleDf.select(collect_list('name')).take(10)

[Row(collect_list(name)=['hayoon', 'sunwoo', 'hajoo', 'jinwoo', 'hayoon', 'sunwoo', 'hajoo', 'jinwoo'])]

In [49]:
doubleDf.select(collect_set('name')).take(10)

[Row(collect_set(name)=['hajoo', 'sunwoo', 'jinwoo', 'hayoon'])]

In [50]:
doubleDf.select(collect_list("name")[0]).show()

+---------------------+
|collect_list(name)[0]|
+---------------------+
|               hayoon|
+---------------------+

In [51]:
doubleDf.select(collect_set("name")[4]).show()

+--------------------+
|collect_set(name)[4]|
+--------------------+
|                null|
+--------------------+

count() / countDistinct()

In [52]:
doubleDf.select(count("name"), countDistinct("name")).show()

+-----------+--------------------+
|count(name)|count(DISTINCT name)|
+-----------+--------------------+
|          8|                   4|
+-----------+--------------------+

sum()

In [55]:
df8.show()

+------+-------+------+-----+
| store|product|amount|price|
+------+-------+------+-----+
|store2|   note|    20| 2000|
|store2|    bag|    10| 5000|
|store1|   note|    15| 1000|
|store1|    pen|    20| 5000|
+------+-------+------+-----+

In [56]:
df8.select(sum("price")).show()

+----------+
|sum(price)|
+----------+
|     13000|
+----------+

In [57]:
df8.select(sum("price") / count("price")).show()

+---------------------------+
|(sum(price) / count(price))|
+---------------------------+
|                     3250.0|
+---------------------------+

round() / sqrt()

In [58]:
df8.select(sqrt(sum("price") / count("price"))).show()

+---------------------------------+
|SQRT((sum(price) / count(price)))|
+---------------------------------+
|                 57.0087712549569|
+---------------------------------+

In [59]:
df8.select(round(sqrt(sum("price") / count("price")),3)).show()

+-------------------------------------------+
|round(SQRT((sum(price) / count(price))), 3)|
+-------------------------------------------+
|                                     57.009|
+-------------------------------------------+

desc() / asc()

In [60]:
df8.sort(desc("price")).show()

+------+-------+------+-----+
| store|product|amount|price|
+------+-------+------+-----+
|store2|    bag|    10| 5000|
|store1|    pen|    20| 5000|
|store2|   note|    20| 2000|
|store1|   note|    15| 1000|
+------+-------+------+-----+

In [61]:
df8.sort(desc("price"),asc("store")).show()

+------+-------+------+-----+
| store|product|amount|price|
+------+-------+------+-----+
|store1|    pen|    20| 5000|
|store2|    bag|    10| 5000|
|store2|   note|    20| 2000|
|store1|   note|    15| 1000|
+------+-------+------+-----+

agg()

In [62]:
df8.agg(max("amount"), min("price")).show()

+-----------+----------+
|max(amount)|min(price)|
+-----------+----------+
|         20|      1000|
+-----------+----------+

In [63]:
df8.select(max("amount"), min("price")).show()

+-----------+----------+
|max(amount)|min(price)|
+-----------+----------+
|         20|      1000|
+-----------+----------+

groupBy()

In [64]:
df8.groupBy("store").sum("price").show()

+------+----------+
| store|sum(price)|
+------+----------+
|store2|      7000|
|store1|      6000|
+------+----------+

In [65]:
df8.groupBy("store", "product").sum("price").show()

+------+-------+----------+
| store|product|sum(price)|
+------+-------+----------+
|store1|   note|      1000|
|store2|    bag|      5000|
|store1|    pen|      5000|
|store2|   note|      2000|
+------+-------+----------+

cube()

In [66]:
df8.cube("store", "product").sum("price")\
.sort(asc("store"), asc("product")).show()

+------+-------+----------+
| store|product|sum(price)|
+------+-------+----------+
|  null|   null|     13000|
|  null|    bag|      5000|
|  null|   note|      3000|
|  null|    pen|      5000|
|store1|   null|      6000|
|store1|   note|      1000|
|store1|    pen|      5000|
|store2|   null|      7000|
|store2|    bag|      5000|
|store2|   note|      2000|
+------+-------+----------+

In [67]:
df8.select([c for c in df8.columns]).show()

+------+-------+------+-----+
| store|product|amount|price|
+------+-------+------+-----+
|store2|   note|    20| 2000|
|store2|    bag|    10| 5000|
|store1|   note|    15| 1000|
|store1|    pen|    20| 5000|
+------+-------+------+-----+

+) 추가!

withColumn() : 기존 데이터프레임에서 새로운 컬럼을 추가할 때 쓰는 메소드

In [10]:
r1 = Row(name="Alice", age=10)
r2 = Row(name="Bob", age=5)

df = sc.parallelize([r1, r2]).toDF()
df.show()

+---+-----+
|age| name|
+---+-----+
| 10|Alice|
|  5|  Bob|
+---+-----+

In [12]:
new_df = df.withColumn('job', lit(None).cast(StringType()))
new_df.show()

+---+-----+----+
|age| name| job|
+---+-----+----+
| 10|Alice|null|
|  5|  Bob|null|
+---+-----+----+

na.fill()

In [13]:
new_df.na.fill("student").show()

+---+-----+-------+
|age| name|    job|
+---+-----+-------+
| 10|Alice|student|
|  5|  Bob|student|
+---+-----+-------+

na.drop()

In [14]:
new_df.na.drop().show()

+---+----+---+
|age|name|job|
+---+----+---+
+---+----+---+

In [15]:
new_df.na.drop(subset = 'job').show()

+---+----+---+
|age|name|job|
+---+----+---+
+---+----+---+

## [ Pandas 연동 ]

In [58]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /home/ubuntu/anaconda3/lib/python3.6/site-packages
Requirement already satisfied: numpy>=1.14 in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from pyarrow)
Requirement already satisfied: six>=1.0.0 in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from pyarrow)
You are using pip version 9.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [68]:
import pandas as pd
from pyspark.sql.functions import pandas_udf, PandasUDFType
spark.conf.set("spark.sql.execution.arrow.enabled", "true")
sales_data = {'name' : ['store2', 'store2', 'store1', 'store1'],
             'product' : ['note', 'bag', 'note', 'pen'],
             'amount' : [20, 10, 15, 20],
             'price' : [2000, 5000, 1000, 5000]}
sales_data

{'amount': [20, 10, 15, 20],
 'name': ['store2', 'store2', 'store1', 'store1'],
 'price': [2000, 5000, 1000, 5000],
 'product': ['note', 'bag', 'note', 'pen']}

In [69]:
pdf = pd.DataFrame(sales_data)
pdf

   amount    name  price product
0      20  store2   2000    note
1      10  store2   5000     bag
2      15  store1   1000    note
3      20  store1   5000     pen

Pandas Dataframe -> pyspark DataFrame

In [70]:
df = spark.createDataFrame(pdf)
df.show()

+------+------+-----+-------+
|amount|  name|price|product|
+------+------+-----+-------+
|    20|store2| 2000|   note|
|    10|store2| 5000|    bag|
|    15|store1| 1000|   note|
|    20|store1| 5000|    pen|
+------+------+-----+-------+

In [71]:
df =spark.createDataFrame(pdf).groupBy("name").count()
df.show()

+------+-----+
|  name|count|
+------+-----+
|store2|    2|
|store1|    2|
+------+-----+

 pyspark DataFrame -> Pandas Dataframe

In [72]:
pdf2 = df.toPandas()
pdf2

     name  count
0  store2      2
1  store1      2

Pandas UDF(User Defined Function)

In [73]:
totalDf = spark.createDataFrame(pdf)
totalDf.show()

+------+------+-----+-------+
|amount|  name|price|product|
+------+------+-----+-------+
|    20|store2| 2000|   note|
|    10|store2| 5000|    bag|
|    15|store1| 1000|   note|
|    20|store1| 5000|    pen|
+------+------+-----+-------+

In [74]:
def get_total_price(amount, price):
    return amount * price

total_price = pandas_udf(get_total_price, returnType=LongType())
totalDf.withColumn("total_price", total_price(totalDf["amount"], totalDf["price"])).show()

+------+------+-----+-------+-----------+
|amount|  name|price|product|total_price|
+------+------+-----+-------+-----------+
|    20|store2| 2000|   note|      40000|
|    10|store2| 5000|    bag|      50000|
|    15|store1| 1000|   note|      15000|
|    20|store1| 5000|    pen|     100000|
+------+------+-----+-------+-----------+

Spark에서도 UDF를 사용한다면?

In [17]:
from pyspark.sql.types import IntegerType
# 1
slen = udf(lambda s: len(s), IntegerType())

# 2
def to_upper(s):
     if s is not None:
        return s.upper()

In [23]:
df = spark.createDataFrame([(1, "John Doe", 21)], ("id", "name", "age"))
df.select(slen("name").alias("slen(name)"), to_upper("name")).show()

+----------+--------+
|slen(name)|    NAME|
+----------+--------+
|         8|John Doe|
+----------+--------+

## Do Yourself!

In [66]:
# 5.5.2.1.1절 ~ 5.5.2.2.4절
def runBasicOpsEx(spark, sc, df):
    df.show()
    df.head()
    df.first()
    df.take(2)
    df.count()
    df.collect()
    df.describe("age").show()
    df.persist(StorageLevel.MEMORY_AND_DISK_2)
    df.printSchema()
    df.columns
    df.dtypes
    df.schema
    df.createOrReplaceTempView("users")
    spark.sql("select name, age from users where age > 20").show()
    spark.sql("select name, age from users where age > 20").explain()


# 5.5.2.4절
def runColumnEx(spark, sc, df):
    df.where(df.age > 10).show()


# 5.5.2.4.2절
def runAlias(spark, sc, df):
    df.select(df.age + 1).show()
    df.select((df.age + 1).alias("age")).show()


# 5.5.2.4.3절
def runIsinEx(spark, sc):
    nums = spark.sparkContext.broadcast([1, 3, 5, 7, 9])
    rdd = spark.sparkContext.parallelize(range(0, 10)).map(lambda v: Row(v))
    df = spark.createDataFrame(rdd)
    df.where(df._1.isin(nums.value)).show()


# 5.5.2.4.4절
def runWhenEx(spark, sc):
    ds = spark.range(0, 5)
    col = when(ds.id % 2 == 0, "even").otherwise("odd").alias("type")
    ds.select(ds.id, col).show()


# 5.5.2.4.5절
def runMaxMin(spark, df):
    min_col = min("age")
    max_col = max("age")
    df.select(min_col, max_col).show()


# 5.5.2.4.6절 ~ 5.5.2.4.9절
def runAggregateFunctions(spark, df1, df2):
    # collect_list, collect_set
    doubledDf1 = df1.union(df1)
    doubledDf1.select(functions.collect_list(doubledDf1["name"])).show(truncate=False)
    doubledDf1.select(functions.collect_set(doubledDf1["name"])).show(truncate=False)

    # count, countDistinct
    doubledDf1.select(functions.count(doubledDf1["name"]), functions.countDistinct(doubledDf1["name"])).show(
        truncate=False)

    # sum
    df2.printSchema()
    df2.select(sum(df2["price"])).show(truncate=False)

    # grouping, grouping_id
    df2.cube(df2["store"], df2["product"]).agg(sum(df2["amount"]), grouping(df2["store"])).show(truncate=False)
    df2.cube(df2["store"], df2["product"]).agg(sum(df2["amount"]), grouping_id(df2["store"], df2["product"])).show(
        truncate=False)


# 5.5.2.4.10 ~ 5.5.2.4.11 절
def runCollectionFunctions(spark):
    df = spark.createDataFrame([{'numbers': '9,1,5,3,9'}])
    arrayCol = split(df.numbers, ",")

    # array_contains, size
    df.select(arrayCol, array_contains(arrayCol, 2), size(arrayCol)).show(truncate=False)

    # sort_array()
    df.select(arrayCol, sort_array(arrayCol)).show(truncate=False)

    # explode, posexplode
    df.select(explode(arrayCol)).show(truncate=False)
    df.select(posexplode(arrayCol)).show(truncate=False)


# 5.5.2.4.10 ~ 5.5.2.4.11 절
def runCollectionFunctions(spark):
    df = spark.createDataFrame([{'numbers': '9,1,5,3,9'}])
    arrayCol = split(df.numbers, ",")

    # array_contains, size
    df.select(arrayCol, array_contains(arrayCol, 2), size(arrayCol)).show(truncate=False)

    # sort_array()
    df.select(arrayCol, sort_array(arrayCol)).show(truncate=False)

    # explode, posexplode
    df.select(explode(arrayCol)).show(truncate=False)
    df.select(posexplode(arrayCol)).show(truncate=False)


# 5.5.2.4.12 ~ 5.5.2.4.14절
def runDateFunctions(spark):
    f1 = StructField("d1", StringType(), True)
    f2 = StructField("d2", StringType(), True)
    schema1 = StructType([f1, f2])

    df = spark.createDataFrame([("2017-12-25 12:00:05", "2017-12-25")], schema1)
    df.show(truncate=False)

    # current_date, unix_timestamp, to_date
    d3 = current_date().alias("d3")
    d4 = unix_timestamp(df["d1"].alias("d4"))
    d5 = to_date(df["d2"].alias("d5"))
    d6 = to_date(d4.cast("timestamp")).alias("d6")
    df.select(df["d1"], df["d2"], d3, d4, d5, d6).show(truncate=False)

    # add_months, date_add, last_day
    d7 = add_months(d6, 2).alias("d7")
    d8 = date_add(d6, 2).alias("d8")
    d9 = last_day(d6).alias("d9")
    df.select(df["d1"], df["d2"], d7, d8, d9).show(truncate=False)

    # window
    f3 = StructField("date", StringType(), True)
    f4 = StructField("product", StringType(), True)
    f5 = StructField("amount", IntegerType(), True)
    schema2 = StructType([f3, f4, f5])

    r2 = ("2017-12-25 12:01:00", "note", 1000)
    r3 = ("2017-12-25 12:01:10", "pencil", 3500)
    r4 = ("2017-12-25 12:03:20", "pencil", 23000)
    r5 = ("2017-12-25 12:05:00", "note", 1500)
    r6 = ("2017-12-25 12:05:07", "note", 2000)
    r7 = ("2017-12-25 12:06:25", "note", 1000)
    r8 = ("2017-12-25 12:08:00", "pencil", 500)
    r9 = ("2017-12-25 12:09:45", "note", 30000)

    dd = spark.createDataFrame([r2, r3, r4, r5, r6, r7, r8, r9], schema2);

    timeCol = unix_timestamp(dd["date"]).cast("timestamp");
    windowCol = window(timeCol, "5 minutes");
    dd.groupBy(windowCol, dd["product"]).agg(sum(dd["amount"])).show(truncate=False);


# 5.5.2.4.15절
def runDateFunctions(spark):
    # 파이썬의 경우 아래와 같이 튜플을 이용하여 데이터프레임을 생성하는 것도 가능함
    df1 = spark.createDataFrame([(1.512,), (2.234,), (3.42,)], ['value'])
    df2 = spark.createDataFrame([(25.0,), (9.0,), (10.0,)], ['value'])

    df1.select(round(df1["value"], 1)).show()
    df2.select(functions.sqrt('value')).show()


# 5.5.2.4.16 ~ 5.5.2.4.20절
def runOtherFunctions(spark, personDf):
    df = spark.createDataFrame([("v1", "v2", "v3")], ["c1", "c2", "c3"]);

    # array
    df.select(df.c1, df.c2, df.c3, array("c1", "c2", "c3").alias("newCol")).show(truncate=False)

    # desc, asc
    personDf.show()
    personDf.sort(functions.desc("age"), functions.asc("name")).show()

    # pyspark 2.1.0 버전은 desc_nulls_first, desc_nulls_last, asc_nulls_first, asc_nulls_last 지원하지 않음

    # split, length (pyspark에서 컬럼은 df["col"] 또는 df.col 형태로 사용 가능)
    df2 = spark.createDataFrame([("Splits str around pattern",)], ['value'])
    df2.select(df2.value, split(df2.value, " "), length(df2.value)).show(truncate=False)

    # rownum, rank
    f1 = StructField("date", StringType(), True)
    f2 = StructField("product", StringType(), True)
    f3 = StructField("amount", IntegerType(), True)
    schema = StructType([f1, f2, f3])

    p1 = ("2017-12-25 12:01:00", "note", 1000)
    p2 = ("2017-12-25 12:01:10", "pencil", 3500)
    p3 = ("2017-12-25 12:03:20", "pencil", 23000)
    p4 = ("2017-12-25 12:05:00", "note", 1500)
    p5 = ("2017-12-25 12:05:07", "note", 2000)
    p6 = ("2017-12-25 12:06:25", "note", 1000)
    p7 = ("2017-12-25 12:08:00", "pencil", 500)
    p8 = ("2017-12-25 12:09:45", "note", 30000)

    dd = spark.createDataFrame([p1, p2, p3, p4, p5, p6, p7, p8], schema)
    w1 = Window.partitionBy("product").orderBy("amount")
    w2 = Window.orderBy("amount")
    dd.select(dd.product, dd.amount, functions.row_number().over(w1).alias("rownum"),
              functions.rank().over(w2).alias("rank")).show()


# 5.5.2.4.21절
def runUDF(spark, df):
    # functions를 이용한 등록
    fn1 = functions.udf(lambda job: job == "student")
    df.select(df["name"], df["age"], df["job"], fn1(df["job"])).show()
    # SparkSession을 이용한 등록
    spark.udf.register("fn2", lambda job: job == "student")
    df.createOrReplaceTempView("persons")
    spark.sql("select name, age, job, fn2(job) from persons").show()


# 5.5.2.4.24절
def runAgg(spark, df):
    df.agg(max("amount"), min("price")).show()
    df.agg({"amount": "max", "price": "min"}).show()


# 5.5.2.4.26절
def runDfAlias(spark, df):
    df.select(df["product"]).show()
    df.alias("aa").select("aa.product").show()


# 5.5.2.4.27절
def runGroupBy(spark, df):
    df.groupBy("store", "product").agg({"price": "sum"}).show()


# 5.5.3.4.28절
def runCube(spark, df):
    df.cube("store", "product").agg({"price": "sum"}).show()


# 5.5.2.4.29절
def runDistinct(spark):
    d1 = ("store1", "note", 20, 2000)
    d2 = ("store1", "bag", 10, 5000)
    d3 = ("store1", "note", 20, 2000)
    rows = [d1, d2, d3]
    cols = ["store", "product", "amount", "price"]
    df = spark.createDataFrame(rows, cols)
    df.distinct().show()
    df.dropDuplicates(["store"]).show()


# 5.5.2.4.30절
def runDrop(spark, df):
    df.drop(df["store"]).show()


# 5.5.2.4.31절
def runIntersect(spark):
    a = spark.range(1, 5)
    b = spark.range(2, 6)
    c = a.intersect(b)
    c.show()


# 5.5.2.4.32절
def runExcept(spark):
    df1 = spark.range(1, 6)
    df2 = spark.createDataFrame([(2,), (4,)], ['value'])
    # 파이썬의 경우 except 대신 subtract 메서드 사용
    # subtract의 동작은 except와 같음
    df1.subtract(df2).show()


# 5.5.2.4.33절
def runJoin(spark, ldf, rdf):
    joinTypes = "inner,outer,leftouter,rightouter,leftsemi".split(",")
    for joinType in joinTypes:
        print("============= %s ===============" % joinType)
        ldf.join(rdf, ["word"], joinType).show()


# 5.5.2.4.35절
def runNa(spark, ldf, rdf):
    result = ldf.join(rdf, ["word"], "outer").toDF("word", "c1", "c2")
    result.show()
    # 파이썬의 경우 na.drop또는 dropna 사용 가능
    # c1과 c2 칼럼의 null이 아닌 값의 개수가 thresh 이하일 경우 drop
    # thresh=1로 설정할 경우 c1 또는 c2 둘 중의 하나만 null 아닌 값을 가질 경우
    # 결과에 포함시킨다는 의미가 됨
    result.na.drop(thresh=2, subset=["c1", "c2"]).show()
    result.dropna(thresh=2, subset=["c1", "c2"]).show()
    # fill
    result.na.fill({"c1": 0}).show()
    # 파이썬의 경우 to_replace에 딕셔너리를 지정하여 replace를 수행(이 경우 value에 선언한 값은 무시됨
    # 딕셔너리를 사용하지 않을 경우 키 목록(첫번째 인자)과 값 목록(두번째 인자)을 지정하여 replace 수행
    result.na.replace(to_replace={"w1": "word1", "w2": "word2"}, value="", subset="word").show()
    result.na.replace(["w1", "w2"], ["word1", "word2"], "word").show()


# 5.5.2.4.36절
def runOrderBy(spark):
    df = spark.createDataFrame([(3, "z"), (10, "a"), (5, "c")], ["idx", "name"])
    df.orderBy("name", "idx").show()
    df.orderBy("idx", "name").show()


# 5.5.2.4.37절
def runRollup(spark, df):
    df.rollup("store", "product").agg({"price": "sum"}).show();


# 5.5.2.4.38절
def runStat(spark):
    df = spark.createDataFrame([("a", 6), ("b", 4), ("c", 12), ("d", 6)], ["word", "count"])
    df.show()
    df.stat.crosstab("word", "count").show()


# 5.5.2.4.39절
def runWithColumn(spark):
    df1 = spark.createDataFrame([("prod1", "100"), ("prod2", "200")], ["pname", "price"])
    df2 = df1.withColumn("dcprice", df1["price"] * 0.9)
    df3 = df2.withColumnRenamed("dcprice", "newprice")
    df1.show()
    df2.show()
    df3.show()


# 5.5.2.4.40절
def runSave(spark):
    sparkHomeDir = "file:///Users/beginspark/Apps/spark"
    df = spark.read.json(sparkHomeDir + "/examples/src/main/resources/people.json")
    df.write.save("/Users/beginspark/Temp/default/%d" % time.time())
    df.write.format("json").save("/Users/beginspark/Temp/json/%d" % time.time())
    df.write.format("json").partitionBy("age").save("/Users/beginspark/Temp/parti/%d" % time.time())
    # saveMode: append, overwrite, error, ignore
    df.write.mode("overwrite").saveAsTable("ohMyTable")
    spark.sql("select * from ohMyTable").show()
    # 파이썬의 경우 bucketBy 지원하지 않음

In [67]:
# [예제 실행 방법] 아래에서 원하는 예제의 주석을 제거하고 실행!!

# runBasicOpsEx(spark, sc, sample_df)
# createDataFrame(spark, sc)
#runColumnEx(spark, sc, sample_df)
# runAlias(spark, sc, sample_df)
# runIsinEx(spark, sc)
# runWhenEx(spark, sc)
# runMaxMin(spark, sample_df)
# runAggregateFunctions(spark, sample_df, sample_df2)
# runCollectionFunctions(spark)
# runDateFunctions(spark)
# runDateFunctions(spark)
# runOtherFunctions(spark, sample_df)
# runUDF(spark, sample_df)
# runAgg(spark, sample_df2)
# runDfAlias(spark, sample_df2)
# runGroupBy(spark, sample_df2)
# runCube(spark, sample_df2)
# runDistinct(spark)
# runDrop(spark, sample_df2)
# runIntersect(spark)
# runExcept(spark)
# runJoin(spark, ldf, rdf)
# runNa(spark, ldf, rdf)
# runOrderBy(spark)
# runRollup(spark, sample_df2)
# runWithColumn(spark)
# runSave(spark)