In [1]:
#if required install pandas_profiling module
#!pip install pandas_profiling

In [2]:
import pandas as pd
import numpy as np
import pandas_profiling
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split

In [3]:
store = pd.read_csv('Drugstore_data/store.csv')
train = pd.read_csv('Drugstore_data/train.csv')
target = pd.read_csv('Drugstore_data/test.csv')
#in trian datafrmae StateHoliday column have int 0 and str '0'

C:\Users\ahn92\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [5]:
#search the unique value of StateHoliday column of test dataframe
pd.unique(target['StateHoliday'])

array([0], dtype=int64)

In [6]:
#since StateHoliday column of test data has constant value 0 drop the StateHoliday column
train = train.drop(columns=['StateHoliday'])
target = target.drop(columns=['StateHoliday'])

In [7]:
#change the data tyoe of data column to datetime
train['Date'] = pd.to_datetime(train['Date'])
target['Date'] = pd.to_datetime(target['Date'])

In [8]:
train['Date'] = pd.to_numeric(train['Date'])
target['Date'] = pd.to_numeric(target['Date'])

In [9]:
merged_train = pd.merge(store,train,how = 'inner')
merged_target = pd.merge(store,target,how = 'inner')

In [34]:
merged_train.to_csv('merged_train.csv',index=False ,encoding='UTF8')
merged_target.to_csv('merged_target.csv',index=False,encoding='UTF8')

In [10]:
merged_train.dtypes

Store                          int64
StoreType                     object
Assortment                    object
CompetitionDistance          float64
CompetitionOpenSinceMonth    float64
CompetitionOpenSinceYear     float64
Promo2                         int64
Promo2SinceWeek              float64
Promo2SinceYear              float64
PromoInterval                 object
DayOfWeek                      int64
Date                           int64
Sales                          int64
Customers                      int64
Open                           int64
Promo                          int64
SchoolHoliday                  int64
dtype: object

In [35]:
merged_train.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,DayOfWeek,Date,Sales,Customers,Open,Promo,SchoolHoliday
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,2,1356998400000000000,0,0,0,0,1
1,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,3,1357084800000000000,5530,668,1,0,1
2,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,4,1357171200000000000,4327,578,1,0,1
3,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,5,1357257600000000000,4486,619,1,0,1
4,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,6,1357344000000000000,4997,635,1,0,1

In [11]:
merged_train['Store'] = pd.Categorical(merged_train['Store'])
merged_train['StoreType'] = pd.Categorical(merged_train['StoreType'])
merged_train['DayOfWeek'] = pd.Categorical(merged_train['DayOfWeek'])
merged_train['Promo2'] = pd.Categorical(merged_train['Promo2'])
merged_train['PromoInterval'] = pd.Categorical(merged_train['PromoInterval'])
merged_train['Open'] = pd.Categorical(merged_train['Open'])
merged_train['Promo'] = pd.Categorical(merged_train['Promo'])
merged_train['SchoolHoliday'] = pd.Categorical(merged_train['SchoolHoliday'])

In [36]:
np.sum(merged_train.isna(),axis=0)

Store                             0
StoreType                         0
Assortment                        0
CompetitionDistance            2459
CompetitionOpenSinceMonth    301754
CompetitionOpenSinceYear     301754
Promo2                            0
Promo2SinceWeek              474847
Promo2SinceYear              474847
PromoInterval                474847
DayOfWeek                         0
Date                              0
Sales                             0
Customers                         0
Open                              0
Promo                             0
SchoolHoliday                     0
dtype: int64

In [ ]:
pandas_profiling.ProfileReport(merged_train)

In [ ]:
pandas_profiling.ProfileReport(merged_target)

In [12]:
one_hot_merged_train = pd.get_dummies(merged_train)

In [13]:
#define the x vlaues and y value and remove uselsess column Customer since test data frame does not have customer column
y = one_hot_merged_train['Sales']
x = one_hot_merged_train.drop(columns=['Sales', 'Customers'])

In [14]:
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.3, random_state=0)