In [5]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import xgboost
import csv as csv
from xgboost import plot_importance
from matplotlib import pyplot
from sklearn.model_selection import cross_val_score,KFold
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV   #Perforing grid search
from scipy.stats import skew
from collections import OrderedDict

In [30]:
train_dataset = pd.read_csv('merged_train.csv',encoding="UTF8")
test_dataset = pd.read_csv('merged_target.csv',encoding="UTF8")

In [31]:
train_dataset.columns

Index(['Store', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'DayOfWeek',
       'Date', 'Sales', 'Customers', 'Open', 'Promo', 'SchoolHoliday'],
      dtype='object')

In [32]:
categorical_features = ['Store', 'StoreType', 'Assortment', 
       'Promo2',
       'PromoInterval', 'DayOfWeek',
       'Open', 'Promo', 'SchoolHoliday']

In [33]:
every_column_except_y= [col for col in train_dataset.columns 
                        if col not in ['Customers','Sales','Store']]
train_dataset.describe()

,Store,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,DayOfWeek,Date,Sales,Customers,Open,Promo,SchoolHoliday
count,949194.000000,946735.000000,647440.000000,647440.000000,949194.000000,474347.000000,474347.000000,949194.000000,9.491940e+05,949194.000000,949194.000000,949194.000000,949194.000000,949194.000000
mean,558.460519,5431.890085,7.222734,2008.691760,0.499737,23.245129,2011.751981,4.004095,1.394419e+18,5745.395182,632.265625,0.827840,0.379485,0.176051
std,321.911209,7719.288499,3.211946,5.978099,0.500000,14.093203,1.662087,1.998670,2.210048e+16,3851.817831,465.677514,0.377519,0.485259,0.380864
min,1.000000,20.000000,1.000000,1900.000000,0.000000,1.000000,2009.000000,1.000000,1.356998e+18,0.000000,0.000000,0.000000,0.000000,0.000000
25%,280.000000,710.000000,4.000000,2006.000000,0.000000,13.000000,2011.000000,2.000000,1.375315e+18,3691.000000,401.000000,1.000000,0.000000,0.000000
50%,558.000000,2330.000000,8.000000,2010.000000,0.000000,22.000000,2012.000000,4.000000,1.393718e+18,5720.000000,609.000000,1.000000,0.000000,0.000000
75%,838.000000,6890.000000,10.000000,2013.000000,1.000000,37.000000,2013.000000,6.000000,1.413677e+18,7830.000000,838.000000,1.000000,1.000000,0.000000
max,1115.000000,75860.000000,12.000000,2015.000000,1.000000,50.000000,2015.000000,7.000000,1.433030e+18,38722.000000,7388.000000,1.000000,1.000000,1.000000

In [34]:
every_column_non_categorical= [col for col in train_dataset.columns if col not in categorical_features and col not in ['Id'] ]

In [35]:
numeric_feats = train_dataset[every_column_non_categorical].dtypes[train_dataset.dtypes != "object"].index

In [36]:
train_dataset[numeric_feats] = np.log1p(train_dataset[numeric_feats])

C:\Users\ahn92\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in log1p
  """Entry point for launching an IPython kernel.

In [37]:
every_column_non_categorical= [col for col in test_dataset.columns if col not in categorical_features and col not in ['Id'] ]

In [38]:
numeric_feats = test_dataset[every_column_non_categorical].dtypes[test_dataset.dtypes != "object"].index
test_dataset[numeric_feats] = np.log1p(test_dataset[numeric_feats])

C:\Users\ahn92\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in log1p

In [39]:
features_with_nan = ['CompetitionDistance',
                    'CompetitionOpenSinceYear',
                    'CompetitionOpenSinceMonth',
                    'Promo2SinceWeek',
                    'Promo2SinceYear',
                    'PromoInterval']

In [40]:
def ConverNaNToNAString(data, columnList):
    for x in columnList:       
        data[x] =str(data[x])

In [42]:
str(train_dataset['CompetitionDistance'])

'0         7.147559\n1         7.147559\n2         7.147559\n3         7.147559\n4         7.147559\n5         7.147559\n6         7.147559\n7         7.147559\n8         7.147559\n9         7.147559\n10        7.147559\n11        7.147559\n12        7.147559\n13        7.147559\n14        7.147559\n15        7.147559\n16        7.147559\n17        7.147559\n18        7.147559\n19        7.147559\n20        7.147559\n21        7.147559\n22        7.147559\n23        7.147559\n24        7.147559\n25        7.147559\n26        7.147559\n27        7.147559\n28        7.147559\n29        7.147559\n            ...   \n949164    8.585039\n949165    8.585039\n949166    8.585039\n949167    8.585039\n949168    8.585039\n949169    8.585039\n949170    8.585039\n949171    8.585039\n949172    8.585039\n949173    8.585039\n949174    8.585039\n949175    8.585039\n949176    8.585039\n949177    8.585039\n949178    8.585039\n949179    8.585039\n949180    8.585039\n949181    8.585039\n949182    8.585039\n949183    8.585039\n949184    8.585039\n949185    8.585039\n949186    8.585039\n949187    8.585039\n949188    8.585039\n949189    8.585039\n949190    8.585039\n949191    8.585039\n949192    8.585039\n949193    8.585039\nName: CompetitionDistance, Length: 949194, dtype: float64'

In [23]:
#ConverNaNToNAString(train_dataset, features_with_nan)
#ConverNaNToNAString(test_dataset, features_with_nan)

In [43]:
def CreateColumnPerValue(data, columnList):
    for x in columnList:

        values=pd.unique(data[x])
        
        for v in values:
            column_name=x+"_"+str(v)   
            data[column_name]=(data[x]==v).astype(float)
    
        data.drop(x, axis=1, inplace=True)

In [44]:
train_dataset = pd.get_dummies(train_dataset,columns =categorical_features)
test_dataset = pd.get_dummies(test_dataset,columns =categorical_features)

In [57]:
train_dataset.head()

,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2SinceWeek,Promo2SinceYear,Date,Sales,Customers,Store_1,Store_2,...,DayOfWeek_4,DayOfWeek_5,DayOfWeek_6,DayOfWeek_7,Open_0,Open_1,Promo_0,Promo_1,SchoolHoliday_0,SchoolHoliday_1
0,7.147559,2.302585,7.605392,NaN,NaN,41.751807,0.000000,0.000000,1,0,...,0,0,0,0,1,0,1,0,0,1
1,7.147559,2.302585,7.605392,NaN,NaN,41.751871,8.618124,6.505784,1,0,...,0,0,0,0,0,1,1,0,0,1
2,7.147559,2.302585,7.605392,NaN,NaN,41.751934,8.372861,6.361302,1,0,...,1,0,0,0,0,1,1,0,0,1
3,7.147559,2.302585,7.605392,NaN,NaN,41.751998,8.408940,6.429719,1,0,...,0,1,0,0,0,1,1,0,0,1
4,7.147559,2.302585,7.605392,NaN,NaN,41.752062,8.516793,6.455199,1,0,...,0,0,1,0,0,1,1,0,0,1

In [45]:
model = xgboost.XGBRegressor(colsample_bytree=0.4,
                 gamma=0,                 
                 learning_rate=0.07,
                 max_depth=3,
                 min_child_weight=1.5,
                 n_estimators=10000,                                                                    
                 reg_alpha=0.75,
                 reg_lambda=0.45,
                 subsample=0.6,
                 seed=42)

In [46]:
every_column_except_y= [col for col in train_dataset.columns if col not in ['Customers','Sales','Store']]
model.fit(train_dataset[every_column_except_y],train_dataset['Sales'])

OrderedDict(sorted(model.booster().get_fscore().items(), key=lambda t: t[1], reverse=True))

MemoryError:

In [58]:
every_column_except_y= [col for col in train_dataset.columns if col not in ['Customers','Sales']]
every_column_except_y= [col for col in train_dataset.columns if col not in features_with_nan]

In [ ]:
model.fit(train_dataset[every_column_except_y].head(10000),train_dataset['Sales'].head(10000))

OrderedDict(sorted(model.booster().get_fscore().items(), key=lambda t: t[1], reverse=True))

In [79]:
train_dataset.head().values.astype(float)

array([[7.14755927, 2.30258509, 7.60539236, ..., 0.        , 0.        ,
        1.        ],
       [7.14755927, 2.30258509, 7.60539236, ..., 0.        , 0.        ,
        1.        ],
       [7.14755927, 2.30258509, 7.60539236, ..., 0.        , 0.        ,
        1.        ],
       [7.14755927, 2.30258509, 7.60539236, ..., 0.        , 0.        ,
        1.        ],
       [7.14755927, 2.30258509, 7.60539236, ..., 0.        , 0.        ,
        1.        ]])

In [ ]:
train_dataset.shape

In [47]:
train_dataset[every_column_except_y]

,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2SinceWeek,Promo2SinceYear,Date,Store_1,Store_2,Store_3,Store_4,...,DayOfWeek_4,DayOfWeek_5,DayOfWeek_6,DayOfWeek_7,Open_0,Open_1,Promo_0,Promo_1,SchoolHoliday_0,SchoolHoliday_1
0,7.147559,2.302585,7.605392,NaN,NaN,41.751807,1,0,0,0,...,0,0,0,0,1,0,1,0,0,1
1,7.147559,2.302585,7.605392,NaN,NaN,41.751871,1,0,0,0,...,0,0,0,0,0,1,1,0,0,1
2,7.147559,2.302585,7.605392,NaN,NaN,41.751934,1,0,0,0,...,1,0,0,0,0,1,1,0,0,1
3,7.147559,2.302585,7.605392,NaN,NaN,41.751998,1,0,0,0,...,0,1,0,0,0,1,1,0,0,1
4,7.147559,2.302585,7.605392,NaN,NaN,41.752062,1,0,0,0,...,0,0,1,0,0,1,1,0,0,1
5,7.147559,2.302585,7.605392,NaN,NaN,41.752125,1,0,0,0,...,0,0,0,1,1,0,1,0,0,1
6,7.147559,2.302585,7.605392,NaN,NaN,41.752189,1,0,0,0,...,0,0,0,0,0,1,0,1,0,1
7,7.147559,2.302585,7.605392,NaN,NaN,41.752252,1,0,0,0,...,0,0,0,0,0,1,0,1,0,1
8,7.147559,2.302585,7.605392,NaN,NaN,41.752316,1,0,0,0,...,0,0,0,0,0,1,0,1,0,1
9,7.147559,2.302585,7.605392,NaN,NaN,41.752380,1,0,0,0,...,1,0,0,0,0,1,0,1,0,1
10,7.147559,2.302585,7.605392,NaN,NaN,41.752443,1,0,0,0,...,0,1,0,0,0,1,0,1,0,1
11,7.147559,2.302585,7.605392,NaN,NaN,41.752507,1,0,0,0,...,0,0,1,0,0,1,1,0,1,0
12,7.147559,2.302585,7.605392,NaN,NaN,41.752571,1,0,0,0,...,0,0,0,1,1,0,1,0,1,0
13,7.147559,2.302585,7.605392,NaN,NaN,41.752634,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0
14,7.147559,2.302585,7.605392,NaN,NaN,41.752698,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0
15,7.147559,2.302585,7.605392,NaN,NaN,41.752761,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0
16,7.147559,2.302585,7.605392,NaN,NaN,41.752825,1,0,0,0,...,1,0,0,0,0,1,1,0,1,0
17,7.147559,2.302585,7.605392,NaN,NaN,41.752889,1,0,0,0,...,0,1,0,0,0,1,1,0,1,0
18,7.147559,2.302585,7.605392,NaN,NaN,41.752952,1,0,0,0,...,0,0,1,0,0,1,1,0,1,0
19,7.147559,2.302585,7.605392,NaN,NaN,41.753016,1,0,0,0,...,0,0,0,1,1,0,1,0,1,0
20,7.147559,2.302585,7.605392,NaN,NaN,41.753079,1,0,0,0,...,0,0,0,0,0,1,0,1,1,0
21,7.147559,2.302585,7.605392,NaN,NaN,41.753143,1,0,0,0,...,0,0,0,0,0,1,0,1,1,0
22,7.147559,2.302585,7.605392,NaN,NaN,41.753207,1,0,0,0,...,0,0,0,0,0,1,0,1,1,0
23,7.147559,2.302585,7.605392,NaN,NaN,41.753270,1,0,0,0,...,1,0,0,0,0,1,0,1,1,0
24,7.147559,2.302585,7.605392,NaN,NaN,41.753334,1,0,0,0,...,0,1,0,0,0,1,0,1,1,0
25,7.147559,2.302585,7.605392,NaN,NaN,41.753397,1,0,0,0,...,0,0,1,0,0,1,1,0,1,0
26,7.147559,2.302585,7.605392,NaN,NaN,41.753461,1,0,0,0,...,0,0,0,1,1,0,1,0,1,0
27,7.147559,2.302585,7.605392,NaN,NaN,41.753524,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0
28,7.147559,2.302585,7.605392,NaN,NaN,41.753588,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0
29,7.147559,2.302585,7.605392,NaN,NaN,41.753652,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949164,8.585039,NaN,NaN,3.135494,7.607381,41.804573,0,0,0,0,...,0,0,1,0,0,1,1,0,1,0
949165,8.585039,NaN,NaN,3.135494,7.607381,41.804633,0,0,0,0,...,0,0,0,1,1,0,1,0,1,0
949166,8.585039,NaN,NaN,3.135494,7.607381,41.804694,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
949167,8.585039,NaN,NaN,3.135494,7.607381,41.804754,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
949168,8.585039,NaN,NaN,3.135494,7.607381,41.804815,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
949169,8.585039,NaN,NaN,3.135494,7.607381,41.804875,0,0,0,0,...,1,0,0,0,0,1,0,1,1,0
949170,8.585039,NaN,NaN,3.135494,7.607381,41.804935,0,0,0,0,...,0,1,0,0,0,1,0,1,1,0
949171,8.585039,NaN,NaN,3.135494,7.607381,41.804996,0,0,0,0,...,0,0,1,0,0,1,1,0,1,0
949172,8.585039,NaN,NaN,3.135494,7.607381,41.805056,0,0,0,0,...,0,0,0,1,1,0,1,0,1,0
949173,8.585039,NaN,NaN,3.135494,7.607381,41.805116,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
949174,8.585039,NaN,NaN,3.135494,7.607381,41.805177,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
949175,8.585039,NaN,NaN,3.135494,7.607381,41.805237,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
949176,8.585039,NaN,NaN,3.135494,7.607381,41.805298,0,0,0,0,...,1,0,0,0,1,0,1,0,1,0
949177,8.585039,NaN,NaN,3.135494,7.607381,41.805358,0,0,0,0,...,0,1,0,0,0,1,1,0,1,0
949178,8.585039,NaN,NaN,3.135494,7.607381,41.805418,0,0,0,0,...,0,0,1,0,0,1,1,0,1,0
949179,8.585039,NaN,NaN,3.135494,7.607381,41.805479,0,0,0,0,...,0,0,0,1,1,0,1,0,1,0
949180,8.585039,NaN,NaN,3.135494,7.607381,41.805539,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
949181,8.585039,NaN,NaN,3.135494,7.607381,41.805599,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
949182,8.585039,NaN,NaN,3.135494,7.607381,41.805660,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
949183,8.585039,NaN,NaN,3.135494,7.607381,41.805720,0,0,0,0,...,1,0,0,0,0,1,0,1,1,0
949184,8.585039,NaN,NaN,3.135494,7.607381,41.805780,0,0,0,0,...,0,1,0,0,0,1,0,1,1,0
949185,8.585039,NaN,NaN,3.135494,7.607381,41.805841,0,0,0,0,...,0,0,1,0,0,1,1,0,1,0
949186,8.585039,NaN,NaN,3.135494,7.607381,41.805901,0,0,0,0,...,0,0,0,1,1,0,1,0,1,0
949187,8.585039,NaN,NaN,3.135494,7.607381,41.805961,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0
949188,8.585039,NaN,NaN,3.135494,7.607381,41.806022,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
949189,8.585039,NaN,NaN,3.135494,7.607381,41.806082,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0
949190,8.585039,NaN,NaN,3.135494,7.607381,41.806142,0,0,0,0,...,1,0,0,0,0,1,1,0,1,0
949191,8.585039,NaN,NaN,3.135494,7.607381,41.806202,0,0,0,0,...,0,1,0,0,0,1,1,0,1,0
949192,8.585039,NaN,NaN,3.135494,7.607381,41.806263,0,0,0,0,...,0,0,1,0,0,1,1,0,1,0
949193,8.585039,NaN,NaN,3.135494,7.607381,41.806323,0,0,0,0,...,0,0,0,1,1,0,1,0,1,0