In [3]:
import pandas as pd
import numpy as np

In [4]:
store = pd.read_csv('Drugstore_data/store.csv')
train = pd.read_csv('Drugstore_data/train.csv')
test = pd.read_csv('Drugstore_data/test.csv')

C:\Users\ahn92\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,2,2013-01-01,0,0,0,0,a,1
1,2,2,2013-01-01,0,0,0,0,a,1
2,3,2,2013-01-01,0,0,0,0,a,1
3,4,2,2013-01-01,0,0,0,0,a,1
4,5,2,2013-01-01,0,0,0,0,a,1

In [9]:
train['Date'] = pd.to_datetime(train['Date'])
test['Date'] = pd.to_datetime(test['Date'])

In [13]:
tr_train = train[train['Date'] <'2015-01-01']
tr_test = train[train['Date'] >= '2015-01-01']

In [14]:
train.shape, tr_train.shape, tr_test.shape

((949194, 9), (780829, 9), (168365, 9))

In [22]:
store.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [23]:
train.isnull().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [24]:
test.isnull().sum()

ID               0
Store            0
DayOfWeek        0
Date             0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [ ]:
#no missing data in train and test dataset

In [27]:
store.shape

(1115, 10)

In [17]:
store[store['Promo2']==0].shape

(544, 10)

In [20]:
store[store['Promo2']==0].isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            2
CompetitionOpenSinceMonth    148
CompetitionOpenSinceYear     148
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [21]:
#Promo2~~~ variables are NA only if Promo2 is 0

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [31]:
store.loc[store['Promo2']==0,'Promo2SinceWeek'] = 0
store.loc[store['Promo2']==0,'Promo2SinceYear'] = 0
store.loc[store['Promo2']==0,'PromoInterval'] = 0

In [32]:
store[store['CompetitionDistance'].isnull()]

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
290,291,d,a,NaN,NaN,NaN,0,0.0,0.0,0
621,622,a,c,NaN,NaN,NaN,0,0.0,0.0,0
878,879,d,a,NaN,NaN,NaN,1,5.0,2013.0,"Feb,May,Aug,Nov"

In [33]:
?pd.datetime()

In [14]:
store.PromoInterval.unique()[1:4]

array(['Jan,Apr,Jul,Oct', 'Feb,May,Aug,Nov', 'Mar,Jun,Sept,Dec'],
      dtype=object)

In [9]:
a=np.array([1,2])

In [10]:
np.delete

AttributeError: 'numpy.ndarray' object has no attribute 'delete'

In [19]:
mt = pd.merge(train,store, on='Store')

In [26]:
mt['Date'] = pd.to_datetime(mt['Date'])

In [27]:
mt.Date.dt.year

0         2013
1         2013
2         2013
3         2013
4         2013
5         2013
6         2013
7         2013
8         2013
9         2013
10        2013
11        2013
12        2013
13        2013
14        2013
15        2013
16        2013
17        2013
18        2013
19        2013
20        2013
21        2013
22        2013
23        2013
24        2013
25        2013
26        2013
27        2013
28        2013
29        2013
          ...
949164    2015
949165    2015
949166    2015
949167    2015
949168    2015
949169    2015
949170    2015
949171    2015
949172    2015
949173    2015
949174    2015
949175    2015
949176    2015
949177    2015
949178    2015
949179    2015
949180    2015
949181    2015
949182    2015
949183    2015
949184    2015
949185    2015
949186    2015
949187    2015
949188    2015
949189    2015
949190    2015
949191    2015
949192    2015
949193    2015
Name: Date, Length: 949194, dtype: int64