In [1]:
import pandas as pd
import os

In [2]:
import dask.dataframe as dd

In [20]:
trans = pd.read_csv('C:/Users/ahn92/Google 드라이브/BDP_TERMPJT/all (1)/transactions.csv/transactions.csv',engine='python')

In [10]:
trans.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0

In [3]:
mem = pd.read_csv('C:/Users/ahn92/Google 드라이브/BDP_TERMPJT/all (1)/members_v3.csv/members_v3.csv',engine='python')
train =  pd.read_csv('C:/Users/ahn92/Google 드라이브/BDP_TERMPJT/all (1)/train.csv/train.csv',engine='python')

In [21]:
 trans_dup =trans.drop_duplicates(['msno'], keep='last')

In [22]:
trans_dup.shape

(2363626, 9)

In [23]:
trans.shape

(21547746, 9)

In [24]:
trans_dup.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
62,svvuo4JCElN6TLQZUrMPLuZMpRwcaePM02X3ybNN1dg=,38,30,149,149,0,20151130,20151230,0
436,XERz0tU+yEr1lGdIv43ez3B6EBsn5fUQoksvq6rb9EQ=,35,7,0,0,0,20150607,20150615,0
437,0ghmL6Vr3TQF6ZizF7yhylF7MzVaxlGNt3IjAg2J/Qk=,35,7,0,0,0,20150608,20150615,0
439,waeoQYo10wCcFqQI1BMbfzHvMZpYL2HDBnD0A6YCAB4=,38,410,1788,1788,0,20150608,20160724,0
440,m07BCrghnxTW8Z2e4sT079iY7nLPKQZHSkXVH7hf2to=,35,7,0,0,0,20150608,20150615,0

In [27]:
trans_dup.to_csv('transaction_wo_dup.csv', index = False)

In [28]:
tmp = pd.read_csv('transaction_wo_dup.csv')

In [29]:
tmp.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,svvuo4JCElN6TLQZUrMPLuZMpRwcaePM02X3ybNN1dg=,38,30,149,149,0,20151130,20151230,0
1,XERz0tU+yEr1lGdIv43ez3B6EBsn5fUQoksvq6rb9EQ=,35,7,0,0,0,20150607,20150615,0
2,0ghmL6Vr3TQF6ZizF7yhylF7MzVaxlGNt3IjAg2J/Qk=,35,7,0,0,0,20150608,20150615,0
3,waeoQYo10wCcFqQI1BMbfzHvMZpYL2HDBnD0A6YCAB4=,38,410,1788,1788,0,20150608,20160724,0
4,m07BCrghnxTW8Z2e4sT079iY7nLPKQZHSkXVH7hf2to=,35,7,0,0,0,20150608,20150615,0

In [30]:
del trans_dup

In [31]:
del trans

In [34]:
a=mem.merge(train,left_on='msno', right_on='msno', how='right')

In [35]:
b=tmp.merge(a,left_on='msno', right_on='msno', how='right')

In [36]:
b.shape

(992931, 15)

In [37]:
b.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,city,bd,gender,registered_via,registration_init_time,is_churn
0,IjJ2K6chuC3uAgw/wjmsInpI/b2imM01D80cQHfN2wU=,32,410,1788,1788,0,20160112,20170228,0,5.0,44.0,NaN,3.0,20131016.0,0
1,/IkS3fIO/BRhlMFFErSgrtpqzedcrwnW/FUbaB1E8JM=,38,410,1788,1788,0,20160104,20170217,0,15.0,38.0,female,9.0,20131023.0,1
2,bwVRgPPJnJg62tVnHJWejdeavNP8DJQdBfrhzKm6Org=,38,30,149,149,0,20170109,20170208,0,5.0,0.0,NaN,4.0,20151113.0,1
3,CZ87lCEDKmbk7EXCy6Kh0zopNJxoEBTfWq9Eq9Az+28=,32,195,894,894,0,20160726,20170209,0,13.0,21.0,female,3.0,20120711.0,1
4,hCqnh1Sv8tXwSFHSw4ZGql6MwI31g+ahsszfmVTAE1g=,38,410,1788,1788,0,20151225,20170207,0,5.0,57.0,male,3.0,20140702.0,0

In [38]:
b.to_csv('comp.csv')