In [1]:
%matplotlib inline

import warnings
from text_unidecode import unidecode
from collections import deque
warnings.filterwarnings('ignore')


import pandas as pd
from sklearn.manifold import TSNE
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns
from node2vec import Node2Vec

sns.set_style('whitegrid')

In [2]:
data = pd.read_csv('KNN_result.csv')

In [8]:
data

,PANEL_ID,APP_CATEGORY,APP_USE_TME,CATEGORY_CODE,Area_Name2,PAY_CNT,PAY_MEAN_AMOUNT,gender,age,loctown,...,education,job,family_cnt,has_baby,has_student,has_silver,ann_income,home_cat,home_pay,KNN_LABEL
0,A0000910,LIFESTYLE,932016,701,화성시,38,98782,1,5,1,...,4,6,5,0,0,0,4,2,1,0
1,A0001778,SOCIAL,185520,501,강동구,278,271246,2,4,1,...,4,997,4,0,0,0,4,2,1,0
2,A0005079,GAME,270570,401,강서구,23,20009,1,5,1,...,6,5,1,0,0,0,6,5,1,2
3,A0005444,EDUCATION,441035,502,동대문구,237,195353,2,4,1,...,2,11,4,0,0,0,5,2,1,0
4,A0009694,ENTERTAINMENT,539364,201,강서구,287,71854,2,4,1,...,4,11,4,0,0,0,4,2,2,0
5,H0000102,SOCIAL,113310,1799,송파구,72,103809,2,2,1,...,2,8,3,0,0,0,4,5,2,3
6,H0000408,EDUCATION,206050,1799,의왕시,3,37133,1,2,1,...,3,12,4,0,0,0,3,2,1,3
7,H0000522,LIFESTYLE,93952,101,수원시영통구,130,202345,1,3,1,...,6,7,5,0,0,0,6,1,1,3
8,H0000617,EDUCATION,537055,501,용인시수지구,290,960340,2,3,1,...,4,11,2,0,0,0,4,2,1,0
9,H0001082,SOCIAL,132152,101,수원시영통구,18,11675,2,2,1,...,4,13,5,0,0,1,3,2,1,3
10,H0001454,ENTERTAINMENT,243820,501,용산구,163,17043,1,2,1,...,4,9,3,0,0,1,3,3,1,3
11,H0001977,EDUCATION,1046676,401,송파구,79,36424,2,2,2,...,4,6,5,0,0,0,5,2,1,3
12,H0001978,SOCIAL,138275,101,노원구,259,147086,1,2,1,...,4,3,3,0,0,0,2,2,3,3
13,H0002383,EDUCATION,109404,501,노원구,98,57648,2,3,1,...,4,11,5,0,0,0,3,2,2,0
14,H0002740,SOCIAL,252520,101,동대문구,237,71650,2,4,1,...,4,6,5,0,0,1,5,2,1,0
15,H0002821,SOCIAL,561680,501,마포구,552,130145,2,4,1,...,3,3,4,0,0,1,4,2,3,3
16,H0002978,SOCIAL,93205,401,강동구,126,41428,2,2,1,...,4,6,3,0,0,0,5,5,1,3
17,H0003035,SOCIAL,40876,501,관악구,147,5813041,1,4,1,...,4,6,2,0,0,0,4,4,1,2
18,H0004053,BUSINESS,456924,1003,성동구,1,11500,2,5,1,...,4,9,4,0,0,0,5,2,1,0
19,H0005073,LIFESTYLE,121025,1101,은평구,14,919436,1,5,1,...,4,9,3,0,0,1,3,2,1,3
20,H0005464,SOCIAL,2510100,401,부천시,1480,420417,2,4,1,...,2,6,3,0,0,0,3,5,2,1
21,H0005491,SOCIAL,111205,501,노원구,89,44214,2,2,1,...,4,10,5,0,0,1,4,2,1,3
22,H0006332,SOCIAL,113920,401,서대문구,471,311235,2,4,1,...,4,6,4,0,0,0,3,5,1,0
23,H0006356,ENTERTAINMENT,115680,101,시흥시,37,416033,1,4,1,...,2,6,5,0,0,1,3,5,1,3
24,H0006513,LIFESTYLE,2389880,501,안산시단원구,224,40790,2,3,1,...,2,13,2,0,0,0,2,4,2,1
25,H0006940,LIFESTYLE,281995,501,평택시,25,39370,1,4,1,...,4,6,4,1,0,0,4,2,1,0
26,H0007102,LIFESTYLE,105490,1101,서대문구,216,1349375,2,5,1,...,6,6,3,0,0,1,5,2,1,3
27,H0007473,ENTERTAINMENT,389976,202,고양시덕양구,143,21337,2,3,1,...,5,13,2,0,0,0,1,2,2,2
28,H0007623,LIFESTYLE,6438440,1003,강북구,14,8376,2,3,1,...,2,6,4,0,0,0,3,5,1,1
29,H0008238,GAME,276485,101,남양주시,138,309493,2,5,1,...,4,6,3,0,0,0,4,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7637,P0309783,LIFESTYLE,37082,301,은평구,85,188830,2,5,1,...,2,11,3,0,0,1,6,5,3,0
7638,P0309802,EDUCATION,57398,601,노원구,214,502816,2,3,1,...,5,997,2,0,0,0,3,5,2,2
7639,P0309837,EDUCATION,76190,601,강서구,175,122474,1,4,1,...,3,8,3,0,0,1,3,5,1,3
7640,P0309852,EDUCATION,46860,501,은평구,49,93924,2,4,1,...,2,11,3,0,0,0,3,5,1,0
7641,P0309893,LIFESTYLE,92690,501,성남시중원구,24,43764,2,3,1,...,4,11,3,0,0,0,2,5,1,0
7642,P0310030,SOCIAL,105406,301,성북구,54,13032,2,3,1,...,4,2,2,0,0,0,5,1,1,2
7643,P0310070,SOCIAL,49598,401,성북구,36,106616,1,4,1,...,4,6,3,0,0,0,4,5,1,0
7644,P0310138,EDUCATION,28588,301,노원구,141,37965,1,3,1,...,6,3,3,0,0,1,2,2,3,3
7645,S0000057,LIFESTYLE,422908,201,노원구,50,522465,1,4,1,...,4,6,4,0,0,1,5,2,2,3
7646,S0000109,LIFESTYLE,2273495,1602,종로구,111,206336,1,4,1,...,4,6,3,0,0,0,5,5,2,1
7647,S0000154,EDUCATION,62093,501,안산시상록구,112,799575,1,4,1,...,4,7,1,0,0,0,4,5,2,2
7648,S0000234,BUSINESS,2597335,501,강서구,112,76238,2,4,1,...,4,3,4,0,0,0,6,2,3,1
7649,S0000242,SOCIAL,295545,501,성남시수정구,664,251950,1,3,1,...,4,6,3,0,0,0,4,5,1,2
7650,S0000336,LIFESTYLE,6116604,801,관악구,107,105571,1,4,1,...,4,10,3,0,0,0,4,5,2,1
7651,S0000344,SOCIAL,209055,601,강남구,308,82793,2,2,1,...,4,12,3,0,0,0,4,2,1,3
7652,S0000401,EDUCATION,285945,101,광진구,198,136972,2,3,1,...,4,6,1,0,0,0,1,5,3,2
7653,S0000668,LIFESTYLE,6759685,501,구로구,111,39391,1,5,1,...,4,5,4,0,0,0,5,1,1,1
7654,S0001144,ENTERTAINMENT,957600,501,안양시동안구,35,18925,2,4,1,...,4,6,1,0,0,0,4,5,2,2
7655,S0001809,GAME,182275,801,성동구,145,871543,2,4,1,...,4,6,2,0,0,0,5,2,2,2
7656,S0002157,GAME,403755,501,동대문구,6,15837,2,5,1,...,4,6,2,0,0,0,2,5,2,2
7657,S0002210,SOCIAL,83655,401,화성시,220,116477,2,4,1,...,3,6,4,0,0,0,5,2,1,0
7658,S0002264,SOCIAL,24006,501,동작구,9,1378164,1,4,1,...,4,6,3,0,0,1,4,2,1,0
7659,S0002736,SOCIAL,36187,501,동대문구,42,27788,2,3,1,...,4,6,1,0,0,0,6,4,2,2
7660,S0002829,SOCIAL,128031,401,성남시중원구,20,72334,1,3,1,...,4,4,3,0,0,1,5,2,1,3
7661,S0003317,LIFESTYLE,150596,502,수원시장안구,48,40805,1,3,1,...,6,3,2,0,0,0,3,5,3,2
7662,S0003405,SOCIAL,398970,101,관악구,242,672991,1,4,1,...,6,5,1,0,0,0,6,2,3,2
7663,S0003608,SOCIAL,3471945,602,동대문구,211,26071,2,3,1,...,4,8,4,0,0,1,6,2,1,1
7664,S0003875,LIFESTYLE,755616,401,송파구,257,55299,1,4,1,...,4,6,5,0,0,1,6,2,1,0
7665,S0004212,SOCIAL,270165,501,용산구,99,109097,2,5,1,...,4,11,3,0,0,0,4,2,1,0
7666,T0012282,GAME,164088,401,성남시분당구,141,524215,1,6,1,...,6,5,4,0,0,1,4,2,1,0

In [3]:
pd.concat([data['PANEL_ID'],pd.get_dummies(data['KNN_LABEL'])],axis=1)

      PANEL_ID  0  1  2  3  4
0     A0000910  1  0  0  0  0
1     A0001778  1  0  0  0  0
2     A0005079  0  0  1  0  0
3     A0005444  1  0  0  0  0
4     A0009694  1  0  0  0  0
5     H0000102  0  0  0  1  0
6     H0000408  0  0  0  1  0
7     H0000522  0  0  0  1  0
8     H0000617  1  0  0  0  0
9     H0001082  0  0  0  1  0
10    H0001454  0  0  0  1  0
11    H0001977  0  0  0  1  0
12    H0001978  0  0  0  1  0
13    H0002383  1  0  0  0  0
14    H0002740  1  0  0  0  0
15    H0002821  0  0  0  1  0
16    H0002978  0  0  0  1  0
17    H0003035  0  0  1  0  0
18    H0004053  1  0  0  0  0
19    H0005073  0  0  0  1  0
20    H0005464  0  1  0  0  0
21    H0005491  0  0  0  1  0
22    H0006332  1  0  0  0  0
23    H0006356  0  0  0  1  0
24    H0006513  0  1  0  0  0
25    H0006940  1  0  0  0  0
26    H0007102  0  0  0  1  0
27    H0007473  0  0  1  0  0
28    H0007623  0  1  0  0  0
29    H0008238  1  0  0  0  0
...        ... .. .. .. .. ..
7637  P0309783  1  0  0  0  0
7638  P0309802  0  0  1  0  0
7639  P0309837  0  0  0  1  0
7640  P0309852  1  0  0  0  0
7641  P0309893  1  0  0  0  0
7642  P0310030  0  0  1  0  0
7643  P0310070  1  0  0  0  0
7644  P0310138  0  0  0  1  0
7645  S0000057  0  0  0  1  0
7646  S0000109  0  1  0  0  0
7647  S0000154  0  0  1  0  0
7648  S0000234  0  1  0  0  0
7649  S0000242  0  0  1  0  0
7650  S0000336  0  1  0  0  0
7651  S0000344  0  0  0  1  0
7652  S0000401  0  0  1  0  0
7653  S0000668  0  1  0  0  0
7654  S0001144  0  0  1  0  0
7655  S0001809  0  0  1  0  0
7656  S0002157  0  0  1  0  0
7657  S0002210  1  0  0  0  0
7658  S0002264  1  0  0  0  0
7659  S0002736  0  0  1  0  0
7660  S0002829  0  0  0  1  0
7661  S0003317  0  0  1  0  0
7662  S0003405  0  0  1  0  0
7663  S0003608  0  1  0  0  0
7664  S0003875  1  0  0  0  0
7665  S0004212  1  0  0  0  0
7666  T0012282  1  0  0  0  0

[7667 rows x 6 columns]

In [17]:
pd.get_dummies(data['KNN_LABEL']).values

array([[1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       ...,
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0]], dtype=uint8)

In [13]:
pd.get_dummies(data['KNN_LABEL']).shape

(7667, 5)

In [18]:
pd.get_dummies(data['KNN_LABEL']).values.T

array([[1, 1, 0, ..., 1, 1, 1],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [5]:
wmatrix = pd.DataFrame(np.matmul(pd.get_dummies(data['KNN_LABEL']).values,pd.get_dummies(data['KNN_LABEL']).values.T),columns=data['PANEL_ID'],index=data['PANEL_ID'])

In [7]:
np.fill_diagonal(tmp,0)

In [ ]:
tmp = wmatrix.values

In [8]:
tmpdf = pd.DataFrame(tmp,columns=data['PANEL_ID'],index=data['PANEL_ID'])

In [9]:
tt = tmpdf.apply(lambda x : np.array(x[x==1].index),axis=1)

In [49]:
tt

PANEL_ID
A0000910    [A0001778, A0005444, A0009694, H0000617, H0002...
A0001778    [A0000910, A0005444, A0009694, H0000617, H0002...
A0005079    [H0003035, H0007473, H0010097, H0011933, H0012...
A0005444    [A0000910, A0001778, A0009694, H0000617, H0002...
A0009694    [A0000910, A0001778, A0005444, H0000617, H0002...
H0000102    [H0000408, H0000522, H0001082, H0001454, H0001...
H0000408    [H0000102, H0000522, H0001082, H0001454, H0001...
H0000522    [H0000102, H0000408, H0001082, H0001454, H0001...
H0000617    [A0000910, A0001778, A0005444, A0009694, H0002...
H0001082    [H0000102, H0000408, H0000522, H0001454, H0001...
H0001454    [H0000102, H0000408, H0000522, H0001082, H0001...
H0001977    [H0000102, H0000408, H0000522, H0001082, H0001...
H0001978    [H0000102, H0000408, H0000522, H0001082, H0001...
H0002383    [A0000910, A0001778, A0005444, A0009694, H0000...
H0002740    [A0000910, A0001778, A0005444, A0009694, H0000...
H0002821    [H0000102, H0000408, H0000522, H0001082, H0001...
H0002978    [H0000102, H0000408, H0000522, H0001082, H0001...
H0003035    [A0005079, H0007473, H0010097, H0011933, H0012...
H0004053    [A0000910, A0001778, A0005444, A0009694, H0000...
H0005073    [H0000102, H0000408, H0000522, H0001082, H0001...
H0005464    [H0006513, H0007623, H0016967, H0018376, H0036...
H0005491    [H0000102, H0000408, H0000522, H0001082, H0001...
H0006332    [A0000910, A0001778, A0005444, A0009694, H0000...
H0006356    [H0000102, H0000408, H0000522, H0001082, H0001...
H0006513    [H0005464, H0007623, H0016967, H0018376, H0036...
H0006940    [A0000910, A0001778, A0005444, A0009694, H0000...
H0007102    [H0000102, H0000408, H0000522, H0001082, H0001...
H0007473    [A0005079, H0003035, H0010097, H0011933, H0012...
H0007623    [H0005464, H0006513, H0016967, H0018376, H0036...
H0008238    [A0000910, A0001778, A0005444, A0009694, H0000...
                                  ...
P0309783    [A0000910, A0001778, A0005444, A0009694, H0000...
P0309802    [A0005079, H0003035, H0007473, H0010097, H0011...
P0309837    [H0000102, H0000408, H0000522, H0001082, H0001...
P0309852    [A0000910, A0001778, A0005444, A0009694, H0000...
P0309893    [A0000910, A0001778, A0005444, A0009694, H0000...
P0310030    [A0005079, H0003035, H0007473, H0010097, H0011...
P0310070    [A0000910, A0001778, A0005444, A0009694, H0000...
P0310138    [H0000102, H0000408, H0000522, H0001082, H0001...
S0000057    [H0000102, H0000408, H0000522, H0001082, H0001...
S0000109    [H0005464, H0006513, H0007623, H0016967, H0018...
S0000154    [A0005079, H0003035, H0007473, H0010097, H0011...
S0000234    [H0005464, H0006513, H0007623, H0016967, H0018...
S0000242    [A0005079, H0003035, H0007473, H0010097, H0011...
S0000336    [H0005464, H0006513, H0007623, H0016967, H0018...
S0000344    [H0000102, H0000408, H0000522, H0001082, H0001...
S0000401    [A0005079, H0003035, H0007473, H0010097, H0011...
S0000668    [H0005464, H0006513, H0007623, H0016967, H0018...
S0001144    [A0005079, H0003035, H0007473, H0010097, H0011...
S0001809    [A0005079, H0003035, H0007473, H0010097, H0011...
S0002157    [A0005079, H0003035, H0007473, H0010097, H0011...
S0002210    [A0000910, A0001778, A0005444, A0009694, H0000...
S0002264    [A0000910, A0001778, A0005444, A0009694, H0000...
S0002736    [A0005079, H0003035, H0007473, H0010097, H0011...
S0002829    [H0000102, H0000408, H0000522, H0001082, H0001...
S0003317    [A0005079, H0003035, H0007473, H0010097, H0011...
S0003405    [A0005079, H0003035, H0007473, H0010097, H0011...
S0003608    [H0005464, H0006513, H0007623, H0016967, H0018...
S0003875    [A0000910, A0001778, A0005444, A0009694, H0000...
S0004212    [A0000910, A0001778, A0005444, A0009694, H0000...
T0012282    [A0000910, A0001778, A0005444, A0009694, H0000...
Length: 7667, dtype: object

In [14]:
del tt,tmpdf,tmp,wmatrix

In [38]:
tmpdf.iloc[0,:][tmpdf.iloc[0,:]==1].index

Index(['A0001778', 'A0005444', 'A0009694', 'H0000617', 'H0002383', 'H0002740',
       'H0004053', 'H0006332', 'H0006940', 'H0008238',
       ...
       'P0309645', 'P0309783', 'P0309852', 'P0309893', 'P0310070', 'S0002210',
       'S0002264', 'S0003875', 'S0004212', 'T0012282'],
      dtype='object', name='PANEL_ID', length=3194)

In [11]:
%matplotlib inline

import warnings
from text_unidecode import unidecode
from collections import deque
warnings.filterwarnings('ignore')


import pandas as pd
from sklearn.manifold import TSNE
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns
from node2vec import Node2Vec

sns.set_style('whitegrid')

In [12]:
graph = nx.Graph()

In [13]:
for i,j in  zip(data['PANEL_ID'],tt):
    for k in j:
        graph.add_edge(i,k)

In [15]:
node2vec = Node2Vec(graph, dimensions=5, walk_length=16, num_walks=100, workers=2)

Computing transition probabilities:   0%|                                        | 19/7667 [23:45<156:59:20, 73.90s/it]

KeyboardInterrupt:

In [ ]:
model = node2vec.fit(window=10, min_count=1)

In [ ]:
panel_nodes = [x for x in model.wv.vocab if len(x) > 3]
embeddings = np.array([model.wv[x] for x in panel_nodes])

In [ ]:
tsne = TSNE(n_components=2, random_state=7, perplexity=15)
embeddings_2d = tsne.fit_transform(embeddings)

In [ ]:
figure = plt.figure(figsize=(11, 9))

ax = figure.add_subplot(111)

ax.scatter(embeddings_2d[:, 0], embeddings_2d[:, 1])#, c=color)