# Basic부터 복습!

In [1]:
import pandas as pd
import numpy as np

#### Q. pandas/data/pokemon.csv를 불러와보세요. index는 Number로 설정!
Tip: 현재 폴더에서 상위폴더로 가려면 ../ 를 사용하세요!
"../pandas/data/pokemon.csv"

In [2]:
pokemon =

In [3]:
# Answer
pokemon.head()

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Speed,Generation,isLegendary,Color,hasGender,Height_m,Weight_kg,Catch_Rate,Body_Style
Number,,,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,45,1,False,Green,True,0.71,6.9,45,quadruped
2,Ivysaur,Grass,Poison,405,60,62,63,60,1,False,Green,True,0.99,13.0,45,quadruped
3,Venusaur,Grass,Poison,525,80,82,83,80,1,False,Green,True,2.01,100.0,45,quadruped
4,Charmander,Fire,NaN,309,39,52,43,65,1,False,Red,True,0.61,8.5,45,bipedal_tailed
5,Charmeleon,Fire,NaN,405,58,64,58,80,1,False,Red,True,1.09,19.0,45,bipedal_tailed

#### Q. pokemon에서 Name column만 불러와보세요.

In [4]:
# Answer

Number
1       Bulbasaur
2         Ivysaur
3        Venusaur
4      Charmander
5      Charmeleon
6       Charizard
7        Squirtle
8       Wartortle
9       Blastoise
10       Caterpie
11        Metapod
12     Butterfree
13         Weedle
14         Kakuna
15       Beedrill
16         Pidgey
17      Pidgeotto
18        Pidgeot
19        Rattata
20       Raticate
21        Spearow
22         Fearow
23          Ekans
24          Arbok
25        Pikachu
26         Raichu
27      Sandshrew
28      Sandslash
29       Nidoran♀
30       Nidorina
          ...
692     Clauncher
693     Clawitzer
694    Helioptile
695     Heliolisk
696        Tyrunt
697     Tyrantrum
698        Amaura
699       Aurorus
700       Sylveon
701      Hawlucha
702       Dedenne
703       Carbink
704         Goomy
705       Sliggoo
706        Goodra
707        Klefki
708      Phantump
709     Trevenant
710     Pumpkaboo
711     Gourgeist
712      Bergmite
713       Avalugg
714        Noibat
715       Noivern
716       Xerneas
717       Yveltal
718       Zygarde
719       Diancie
720         Hoopa
721     Volcanion
Name: Name, Length: 721, dtype: object

#### Q. pokemon에서 Name, Type_1 column들을 한번에 불러와보세요.

In [6]:
# Answer

              Name Type_1
Number
1        Bulbasaur  Grass
2          Ivysaur  Grass
3         Venusaur  Grass
4       Charmander   Fire
5       Charmeleon   Fire

#### Q. pokemon에서 각 column의 결측치 비율을 찾아보세요!
Tip) 세션에서 한 len() 보다 더 쉬운 뭔가가 있을 거 같은데...?

In [7]:
# Answer

Name           0.000000
Type_1         0.000000
Type_2         0.514563
Total          0.000000
HP             0.000000
Attack         0.000000
Defense        0.000000
Speed          0.000000
Generation     0.000000
isLegendary    0.000000
Color          0.000000
hasGender      0.000000
Height_m       0.000000
Weight_kg      0.000000
Catch_Rate     0.000000
Body_Style     0.000000
dtype: float64

#### Q. pokemon에서 모든 결측치를 None으로 채워보세요.
주의) pokemon 원본 데이터에 직접 수정하지 마세요!

In [ ]:
pokemon_fillna =

In [11]:
# Answer
pokemon_fillna.head()

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Speed,Generation,isLegendary,Color,hasGender,Height_m,Weight_kg,Catch_Rate,Body_Style
Number,,,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,45,1,False,Green,True,0.71,6.9,45,quadruped
2,Ivysaur,Grass,Poison,405,60,62,63,60,1,False,Green,True,0.99,13.0,45,quadruped
3,Venusaur,Grass,Poison,525,80,82,83,80,1,False,Green,True,2.01,100.0,45,quadruped
4,Charmander,Fire,None,309,39,52,43,65,1,False,Red,True,0.61,8.5,45,bipedal_tailed
5,Charmeleon,Fire,None,405,58,64,58,80,1,False,Red,True,1.09,19.0,45,bipedal_tailed

#### Q. pokemon의 bmi를 계산해서 BMI column을 새로 추가해봅시다.
Tip) BMI = Weight(kg) / Height(m)*Height(m)

In [13]:
# Answer
pokemon.head()

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Speed,Generation,isLegendary,Color,hasGender,Height_m,Weight_kg,Catch_Rate,Body_Style,BMI
Number,,,,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,45,1,False,Green,True,0.71,6.9,45,quadruped,13.687760
2,Ivysaur,Grass,Poison,405,60,62,63,60,1,False,Green,True,0.99,13.0,45,quadruped,13.263953
3,Venusaur,Grass,Poison,525,80,82,83,80,1,False,Green,True,2.01,100.0,45,quadruped,24.751863
4,Charmander,Fire,NaN,309,39,52,43,65,1,False,Red,True,0.61,8.5,45,bipedal_tailed,22.843322
5,Charmeleon,Fire,NaN,405,58,64,58,80,1,False,Red,True,1.09,19.0,45,bipedal_tailed,15.991920

#### Q. Total의 값이 600 이상인 강한 포켓몬을 찾아 isStrong에 강하면 1, 약하면 0을 넣어봅시다.

In [15]:
pokemon.head()

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Speed,Generation,isLegendary,Color,hasGender,Height_m,Weight_kg,Catch_Rate,Body_Style,BMI,isStrong
Number,,,,,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,45,1,False,Green,True,0.71,6.9,45,quadruped,13.687760,0
2,Ivysaur,Grass,Poison,405,60,62,63,60,1,False,Green,True,0.99,13.0,45,quadruped,13.263953,0
3,Venusaur,Grass,Poison,525,80,82,83,80,1,False,Green,True,2.01,100.0,45,quadruped,24.751863,0
4,Charmander,Fire,NaN,309,39,52,43,65,1,False,Red,True,0.61,8.5,45,bipedal_tailed,22.843322,0
5,Charmeleon,Fire,NaN,405,58,64,58,80,1,False,Red,True,1.09,19.0,45,bipedal_tailed,15.991920,0

#### Q. DataFrame에서 Number의 값이 150 이상 160 미만인 row만 뽑아봅시다.
cf) 조건문 말고 slicing 합시다!

In [21]:
# Answer

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Speed,Generation,isLegendary,Color,hasGender,Height_m,Weight_kg,Catch_Rate,Body_Style,BMI,isStrong
Number,,,,,,,,,,,,,,,,,,
150,Mewtwo,Psychic,NaN,680,106,110,90,130,1,True,Purple,False,2.01,122.0,3,bipedal_tailed,30.197272,1
151,Mew,Psychic,NaN,600,100,100,100,100,1,False,Pink,False,0.41,4.0,45,bipedal_tailed,23.795360,0
152,Chikorita,Grass,NaN,318,45,49,65,45,2,False,Green,True,0.89,6.4,45,quadruped,8.079788,0
153,Bayleef,Grass,NaN,405,60,62,80,60,2,False,Green,True,1.19,15.8,45,quadruped,11.157404,0
154,Meganium,Grass,NaN,525,80,82,100,80,2,False,Green,True,1.80,100.5,45,quadruped,31.018519,0
155,Cyndaquil,Fire,NaN,309,39,52,43,65,2,False,Yellow,True,0.51,7.9,45,bipedal_tailless,30.372933,0
156,Quilava,Fire,NaN,405,58,64,58,80,2,False,Yellow,True,0.89,19.0,45,quadruped,23.986870,0
157,Typhlosion,Fire,NaN,534,78,84,78,100,2,False,Yellow,True,1.70,79.5,45,quadruped,27.508651,0
158,Totodile,Water,NaN,314,50,65,64,43,2,False,Blue,True,0.61,9.5,45,bipedal_tailed,25.530771,0
159,Croconaw,Water,NaN,405,65,80,80,58,2,False,Blue,True,1.09,25.0,45,bipedal_tailed,21.042000,0

#### Q. Type_1이 Fairy인 포켓몬의 이름들을 찾아봅시다!

In [37]:
# Answer
pokemon[lambda x: x["Type_1"]=="Fairy"]["Name"]

Number
35       Clefairy
36       Clefable
173        Cleffa
175        Togepi
176       Togetic
209      Snubbull
210      Granbull
468      Togekiss
669       Flabébé
670       Floette
671       Florges
682      Spritzee
683    Aromatisse
684       Swirlix
685      Slurpuff
700       Sylveon
716       Xerneas
Name: Name, dtype: object

#### Q. Generation으로 groupby를 해줍시다

In [ ]:
grouped =

In [38]:
# Answer
grouped

#### Q. grouped에서 3세대 포켓몬만 봅시다

In [39]:
# Answer

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Speed,Generation,isLegendary,Color,hasGender,Height_m,Weight_kg,Catch_Rate,Body_Style,BMI,isStrong
Number,,,,,,,,,,,,,,,,,,
252,Treecko,Grass,NaN,310,40,45,35,70,3,False,Green,True,0.51,5.0,45,bipedal_tailed,19.223376,0
253,Grovyle,Grass,NaN,405,50,65,45,95,3,False,Green,True,0.89,21.6,45,bipedal_tailed,27.269284,0
254,Sceptile,Grass,NaN,530,70,85,65,120,3,False,Green,True,1.70,52.2,45,bipedal_tailed,18.062284,0
255,Torchic,Fire,NaN,310,45,60,40,45,3,False,Red,True,0.41,2.5,45,head_legs,14.872100,0
256,Combusken,Fire,Fighting,405,60,85,60,55,3,False,Red,True,0.89,19.5,45,bipedal_tailed,24.618104,0
257,Blaziken,Fire,Fighting,530,80,120,70,80,3,False,Red,True,1.91,52.0,45,bipedal_tailed,14.253995,0
258,Mudkip,Water,NaN,310,50,70,50,40,3,False,Blue,True,0.41,7.6,45,quadruped,45.211184,0
259,Marshtomp,Water,Ground,405,70,85,70,50,3,False,Blue,True,0.71,28.0,45,bipedal_tailed,55.544535,0
260,Swampert,Water,Ground,535,100,110,90,60,3,False,Blue,True,1.50,81.9,45,bipedal_tailed,36.400000,0
261,Poochyena,Dark,NaN,220,35,55,35,35,3,False,Grey,True,0.51,13.6,255,quadruped,52.287582,0
262,Mightyena,Dark,NaN,420,70,90,70,70,3,False,Grey,True,0.99,37.0,127,quadruped,37.751250,0
263,Zigzagoon,Normal,NaN,240,38,30,41,60,3,False,Brown,True,0.41,17.5,255,quadruped,104.104700,0
264,Linoone,Normal,NaN,420,78,70,61,100,3,False,White,True,0.51,32.5,90,quadruped,124.951942,0
265,Wurmple,Bug,NaN,195,45,45,35,20,3,False,Red,True,0.30,3.6,255,serpentine_body,40.000000,0
266,Silcoon,Bug,NaN,205,50,35,55,15,3,False,White,True,0.61,10.0,120,head_only,26.874496,0
267,Beautifly,Bug,Flying,395,60,70,50,65,3,False,Yellow,True,0.99,28.4,45,four_wings,28.976635,0
268,Cascoon,Bug,NaN,205,50,35,55,15,3,False,Purple,True,0.71,11.5,120,head_only,22.812934,0
269,Dustox,Bug,Poison,385,60,50,70,65,3,False,Green,True,1.19,31.6,45,four_wings,22.314808,0
270,Lotad,Water,Grass,220,40,30,30,30,3,False,Green,True,0.51,2.6,255,insectoid,9.996155,0
271,Lombre,Water,Grass,340,60,50,50,50,3,False,Green,True,1.19,32.5,120,bipedal_tailless,22.950357,0
272,Ludicolo,Water,Grass,480,80,70,70,70,3,False,Green,True,1.50,55.0,45,bipedal_tailless,24.444444,0
273,Seedot,Grass,NaN,220,40,40,50,30,3,False,Brown,True,0.51,4.0,255,head_legs,15.378700,0
274,Nuzleaf,Grass,Dark,340,70,70,40,60,3,False,Brown,True,0.99,28.0,120,bipedal_tailless,28.568513,0
275,Shiftry,Grass,Dark,480,90,100,60,80,3,False,Brown,True,1.30,59.6,45,bipedal_tailless,35.266272,0
276,Taillow,Normal,Flying,270,40,55,30,85,3,False,Blue,True,0.30,2.3,200,two_wings,25.555556,0
277,Swellow,Normal,Flying,430,60,85,60,125,3,False,Blue,True,0.71,19.8,45,two_wings,39.277921,0
278,Wingull,Water,Flying,270,40,30,30,85,3,False,White,True,0.61,9.5,190,two_wings,25.530771,0
279,Pelipper,Water,Flying,430,60,50,100,65,3,False,Yellow,True,1.19,28.0,45,two_wings,19.772615,0
280,Ralts,Psychic,Fairy,198,28,25,25,40,3,False,White,True,0.41,6.6,235,bipedal_tailless,39.262344,0
281,Kirlia,Psychic,Fairy,278,38,35,35,50,3,False,White,True,0.79,20.2,120,bipedal_tailless,32.366608,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,Tropius,Grass,Flying,460,99,68,83,51,3,False,Green,True,2.01,100.0,200,quadruped,24.751863,0
358,Chimecho,Psychic,NaN,425,65,50,70,65,3,False,Blue,True,0.61,1.0,45,head_arms,2.687450,0
359,Absol,Dark,NaN,465,65,130,60,75,3,False,White,True,1.19,47.0,30,quadruped,33.189746,0
360,Wynaut,Psychic,NaN,260,95,23,48,23,3,False,Blue,True,0.61,14.0,125,bipedal_tailed,37.624295,0
361,Snorunt,Ice,NaN,300,50,50,50,50,3,False,Grey,True,0.71,16.8,190,bipedal_tailless,33.326721,0
362,Glalie,Ice,NaN,480,80,80,80,80,3,False,Grey,True,1.50,256.5,75,head_only,114.000000,0
363,Spheal,Ice,Water,290,70,40,50,25,3,False,Blue,True,0.79,39.5,255,with_fins,63.291139,0
364,Sealeo,Ice,Water,410,90,60,70,45,3,False,Blue,True,1.09,87.6,120,with_fins,73.731167,0
365,Walrein,Ice,Water,530,110,80,90,65,3,False,Blue,True,1.40,150.6,45,quadruped,76.836735,0
366,Clamperl,Water,NaN,345,35,64,85,32,3,False,Blue,True,0.41,52.5,255,head_only,312.314099,0
367,Huntail,Water,NaN,485,55,104,105,52,3,False,Blue,True,1.70,27.0,60,serpentine_body,9.342561,0
368,Gorebyss,Water,NaN,485,55,84,105,52,3,False,Pink,True,1.80,22.6,60,serpentine_body,6.975309,0
369,Relicanth,Water,Rock,485,100,90,130,55,3,False,Grey,True,0.99,23.4,25,with_fins,23.875115,0
370,Luvdisc,Water,NaN,330,43,30,55,97,3,False,Pink,True,0.61,8.7,225,with_fins,23.380812,0
371,Bagon,Dragon,NaN,300,45,75,60,50,3,False,Blue,True,0.61,42.1,45,bipedal_tailless,113.141629,0
372,Shelgon,Dragon,NaN,420,65,95,100,50,3,False,White,True,1.09,110.5,45,quadruped,93.005639,0
373,Salamence,Dragon,Flying,600,95,135,80,100,3,False,Blue,True,1.50,102.6,45,quadruped,45.600000,0
374,Beldum,Steel,Psychic,300,40,55,80,30,3,False,Blue,False,0.61,95.2,3,head_base,255.845203,0
375,Metang,Steel,Psychic,420,60,75,100,50,3,False,Blue,False,1.19,202.5,3,head_arms,142.998376,0
376,Metagross,Steel,Psychic,600,80,135,130,70,3,False,Blue,False,1.60,550.0,3,multiple_bodies,214.843750,0
377,Regirock,Rock,NaN,580,80,100,200,50,3,True,Brown,False,1.70,230.0,3,bipedal_tailless,79.584775,0
378,Regice,Ice,NaN,580,80,50,100,50,3,True,Blue,False,1.80,175.0,3,bipedal_tailless,54.012346,0
379,Registeel,Steel,NaN,580,80,75,150,50,3,True,Grey,False,1.91,205.0,3,bipedal_tailless,56.193635,0
380,Latias,Dragon,Psychic,600,80,80,90,110,3,True,Red,True,1.40,40.0,3,two_wings,20.408163,0
381,Latios,Dragon,Psychic,600,80,90,80,110,3,True,Blue,True,2.01,60.0,3,two_wings,14.851118,0
382,Kyogre,Water,NaN,670,100,100,90,90,3,True,Blue,False,4.50,352.0,3,with_fins,17.382716,1
383,Groudon,Ground,NaN,670,100,150,140,90,3,True,Red,False,3.51,950.0,3,bipedal_tailed,77.109764,1
384,Rayquaza,Dragon,Flying,680,105,150,90,95,3,True,Green,False,7.01,206.5,45,serpentine_body,4.202271,1
385,Jirachi,Steel,Psychic,600,100,100,100,100,3,True,Yellow,False,0.30,1.1,3,bipedal_tailless,12.222222,0
386,Deoxys,Psychic,NaN,600,50,150,50,150,3,True,Red,False,1.70,60.8,3,bipedal_tailless,21.038062,0

#### Q. 각 Generation 별로 체고 강한 포켓몬의 total 크기는??

In [43]:
# Answer

Generation
1    680
2    680
3    680
4    720
5    680
6    680
Name: Total, dtype: int64

#### Q. Generation 별로 Total의 백단위 그룹 수는?
Tip) 100단위로 total을 나눈 column을 먼저 만들어보세요.

In [ ]:
pokemon["Total_100"] =

In [52]:
# Answer

Generation  Total_100
1           100           2
            200          17
            300          50
            400          49
            500          30
            600           3
2           100           1
            200          17
            300          23
            400          34
            500          21
            600           4
3           100           3
            200          26
            300          30
            400          53
            500          13
            600          10
4           100           1
            200          11
            300          24
            400          30
            500          30
            600          10
            700           1
5           200          17
            300          48
            400          56
            500          27
            600           8
6           200           7
            300          22
            400          20
            500          16
            600           7
Name: Name, dtype: int64