## 참고 자료 링크

- git repo: <https://github.com/PyMySQL/PyMySQL>
- <https://github.com/PyMySQL/PyMySQL/wiki/WhyPyMySQL>
- <https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql.html>
- <https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html>
- <http://pythonstudy.xyz/python/article/203-MySQL-DML>
- <https://swalloow.github.io/dataframe-to-mysql>

## python을 이용해 DataBase와 통신하기

In [ ]:
import pymysql

In [ ]:
# Set information needs to connect DataBase

# Fix me
HOST='ybigta-sohn.c1f1rwosaiuw.us-east-1.rds.amazonaws.com'
USER_NAME='wlsdnjsbu777'
PASSWORD='qwer153426!'

In [ ]:
# Make connection
connection = pymysql.connect(host=HOST,
                             port=3306,
                             user=USER_NAME,
                             password=PASSWORD,
                             db='ybigta',
                             charset='utf8',
                             cursorclass=pymysql.cursors.DictCursor)

In [ ]:
# Select one record
try:
    with connection.cursor() as cursor:
        # SQL statement to execute
        sql = "SELECT `student_id`, `name` FROM `students`"
        
        # Execute SQL statement
        cursor.execute(sql,)
        
        # Get one record
        result = cursor.fetchone()
        
        # Print result
        print(result)
finally:
    connection.close()

In [ ]:
# Select many records
try:
    # Make connection    
    connection = pymysql.connect(host=HOST,
                             port=3306,
                             user=USER_NAME,
                             password=PASSWORD,
                             db='ybigta',
                             charset='utf8',
                             cursorclass=pymysql.cursors.DictCursor)
    
    with connection.cursor() as cursor:
        # SQL statement to execute
        sql = "SELECT student_id, name FROM students"
        
        # Execute SQL statement
        cursor.execute(sql,)
        
        # Get All records
        result = cursor.fetchall()
        
        # Print result
        print(result)
finally:
    connection.close()

In [ ]:
# Insert one record

try:
    # Make connection
    connection = pymysql.connect(host=HOST,
                         port=3306,
                         user=USER_NAME,
                         password=PASSWORD,
                         db='ybigta',
                         charset='utf8',
                         cursorclass=pymysql.cursors.DictCursor)
    
    with connection.cursor() as cursor:
        # SQL statement to execute
        sql = "INSERT INTO ybigta.students (student_id, name, sex, age) VALUES (%s, %s, %s, %s)"
        
        # Execute SQL statement
        cursor.execute(sql,('Y9999', 'TEST', '남', 99))
        
        # connection is not autocommit by default. So you must commit to save your changes.
        connection.commit()
finally:
    connection.close()

In [ ]:
# Insert many records

# Sample data to insert into DB
data = (
    ('Y5555', 'TEST2', '여', 11),
    ('Y6666', 'TEST3', '남', 22),
    ('Y7777', 'TEST4', '여', 33),
)

try:
    # Make connection    
    connection = pymysql.connect(host=HOST,
                         port=3306,
                         user=USER_NAME,
                         password=PASSWORD,
                         db='ybigta',
                         charset='utf8',
                         cursorclass=pymysql.cursors.DictCursor)
    
    with connection.cursor() as cursor:
        # SQL statement to execute
        sql = """
                INSERT INTO ybigta.students (student_id, name, sex, age)
                VALUES (%s, %s, %s, %s)
              """
        
        # Execute SQL statement
        cursor.executemany(sql, data)
        
        # connection is not autocommit by default. So you must commit to save your changes.
        connection.commit()
finally:
    connection.close()

In [ ]:
# Select many records

try:
    # Make connection    
    connection = pymysql.connect(host=HOST,
                             port=3306,
                             user=USER_NAME,
                             password=PASSWORD,
                             db='ybigta',
                             charset='utf8',
                             cursorclass=pymysql.cursors.DictCursor)
    
    with connection.cursor() as cursor:
        # SQL statement to execute
        sql = "SELECT student_id, name FROM students"
        
        # Execute SQL statement
        cursor.execute(sql,)
        
        # Get All records
        result = cursor.fetchall()
        
        # Print result
        print(result)
finally:
    connection.close()

## pandas를 이용해 DataBase와 통신하기

In [ ]:
import pymysql
import pandas as pd

from sqlalchemy import create_engine

In [ ]:
# Set information needs to connect DataBase

# Fix me
HOST='ybigta-sohn.c1f1rwosaiuw.us-east-1.rds.amazonaws.com'
USER_NAME='wlsdnjsbu777'
PASSWORD='qwer153426!'

In [ ]:
# Make connection
connection = pymysql.connect(host=HOST,
                             port=3306,
                             user=USER_NAME,
                             password=PASSWORD,
                             db='ybigta',
                             charset='utf8',
                             cursorclass=pymysql.cursors.DictCursor)

# Read from database using SQL
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql.html
data = pd.read_sql('SELECT * FROM students', connection)

# Print result
data.head(50)

In [ ]:
# Sample data to insert

data = [
    {'student_id': 'Y2222', 'name': 'TEST22', 'sex': '남', 'age': 11},
    {'student_id': 'Y3333', 'name': 'TEST22', 'sex': '여', 'age': 22},
    {'student_id': 'Y4444', 'name': 'TEST22', 'sex': '남', 'age': 33},
]

df = pd.DataFrame(data)

df.head(10)

In [ ]:
# from: https://github.com/PyMySQL/PyMySQL/wiki/WhyPyMySQL

# It's also a drop-in replacement for the standard way of connecting to MySQL in Python, MySQLdb
# Just put the following code at the very top of your Python program:

pymysql.install_as_MySQLdb()
import MySQLdb

In [ ]:
# Host information format to connect database
HOST_FORMAT="mysql+mysqldb://{USER_NAME}:{PASSWORD}@{HOST}/{DB_NAME}?charset=utf8"

try:    
    HOST_FORMATTED = HOST_FORMAT.format(USER_NAME=USER_NAME, HOST=HOST, PASSWORD=PASSWORD, DB_NAME='ybigta')

    engine = create_engine(HOST_FORMATTED, encoding='utf-8')
    conn = engine.connect()

    # Save dataframe to database
    # https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html
    df.to_sql(name='students', con=conn, if_exists='append', index=False)

finally:
    conn.close()

In [ ]:
# Make connection
connection = pymysql.connect(host=HOST,
                             port=3306,
                             user=USER_NAME,
                             password=PASSWORD,
                             db='ybigta',
                             charset='utf8',
                             cursorclass=pymysql.cursors.DictCursor)

# Read from database using SQL
data = pd.read_sql('SELECT * FROM students', connection)

# Print result
data.head(50)