In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
titanic = [
[1,1,"Smith, Mrs. Lucien Philip","F",18],
[0,3,"Gustafsson, Mr. Karl Gideon","M",19],
[1,3,"Jalsevac, Mr. Ivan","M",29],
[0,2,"Hiltunen, Miss. Marta","F",18],
[0,2,"Fillbrook, Mr. Joseph Charles","M",18],
[1,3,"McCoy, Miss. Alicia","F",25],
[0,3,"Lindahl, Miss. Agda Thorilda Viktoria","F",25],
[0,2,"Butler, Mr. Reginald Fenton","M",25],
[0,3,"Harknett, Miss. Alice Phoebe","F",32],
[0,3,"O'Brien, Mr. Timothy","M",49],
[1,1,"Wilson, Miss. Helen Alice","F",31],
[0,3,"Sage, Mr. Frederick","M",38],
[0,3,"Palsson, Miss. Stina Viola","F",33],
[1,3,"O'Brien, Mrs. Thomas","F",37],
[1,3,"Persson, Mr. Ernst Ulrik","M",25],
[1,1,"Hays, Mrs. Charles Melville","F",52],
[0,3,"Vander Planke, Miss. Augusta Maria","F",18],
[0,3,"Brobeck, Mr. Karl Rudolf","M",22],
[1,1,"Salomon, Mr. Abraham L","M",63],
[0,1,"Chisholm, Mr. Roderick Robert Crispin","M",51],
[0,3,"Leinonen, Mr. Antti Gustaf","M",32],
]
# 리스트 데이터 구성 (왼쪽부터)
# 생존여부(1:생존, 0:비생존), 객실등급(1~3), 승객이름, 성별(‘M’:남, ‘F’:여), 나이

In [15]:
# 해당 index 번호의 최대값을 retrun하는 함수
def getmax(lst,ind):
    mx = lst[0][ind]
    for i in range(len(lst)):
        if mx <= lst[i][ind]:
            mx = lst[i][ind]
    return mx

In [19]:
# 해당 index 번호의 최소값을 retrun하는 함수
def getmin(lst,ind):
    mn = lst[0][ind]
    for i in range(len(lst)):
        if mn >= lst[i][ind]:
            mn = lst[i][ind]
    return mn

In [22]:
# 해당 index 번호의 평균을 retrun하는 함수
def getmean(lst,ind):
    mn = 0
    for i in range(len(lst)):
        mn = mn + lst[i][ind]
    mn = mn / len(lst)
    return mn

In [25]:
# 해당 list를 해당 성별에 해당하는 값들만 갖는 list로 분할하는 함수
def spltsex(lst,sex='M',ind=3):
    spltlst=[]
    for i in range(len(lst)):
        if lst[i][ind]==sex:
            spltlst.append(lst[i])
    return spltlst

In [27]:
spltsex(titanic,'F')

[[1, 1, 'Smith, Mrs. Lucien Philip', 'F', 18],
 [0, 2, 'Hiltunen, Miss. Marta', 'F', 18],
 [1, 3, 'McCoy, Miss. Alicia', 'F', 25],
 [0, 3, 'Lindahl, Miss. Agda Thorilda Viktoria', 'F', 25],
 [0, 3, 'Harknett, Miss. Alice Phoebe', 'F', 32],
 [1, 1, 'Wilson, Miss. Helen Alice', 'F', 31],
 [0, 3, 'Palsson, Miss. Stina Viola', 'F', 33],
 [1, 3, "O'Brien, Mrs. Thomas", 'F', 37],
 [1, 1, 'Hays, Mrs. Charles Melville', 'F', 52],
 [0, 3, 'Vander Planke, Miss. Augusta Maria', 'F', 18]]

In [31]:
print("(최연소) 남 : %d 여: %s" %(1,2))
print("(최고령) 남 : %d 여: %s" %(1,2))
print("(평균연령) 남 : %d 여: %s" %(1,2))

(최연소) 남 : 1 여: 2
(최고령) 남 : 1 여: 2
(평균연령) 남 : 1 여: 2

In [32]:
?sorted()

In [37]:
sorted(titanic, key = lambda x : x[4] , reverse = True)

[[1, 1, 'Salomon, Mr. Abraham L', 'M', 63],
 [1, 1, 'Hays, Mrs. Charles Melville', 'F', 52],
 [0, 1, 'Chisholm, Mr. Roderick Robert Crispin', 'M', 51],
 [0, 3, "O'Brien, Mr. Timothy", 'M', 49],
 [0, 3, 'Sage, Mr. Frederick', 'M', 38],
 [1, 3, "O'Brien, Mrs. Thomas", 'F', 37],
 [0, 3, 'Palsson, Miss. Stina Viola', 'F', 33],
 [0, 3, 'Harknett, Miss. Alice Phoebe', 'F', 32],
 [0, 3, 'Leinonen, Mr. Antti Gustaf', 'M', 32],
 [1, 1, 'Wilson, Miss. Helen Alice', 'F', 31],
 [1, 3, 'Jalsevac, Mr. Ivan', 'M', 29],
 [1, 3, 'McCoy, Miss. Alicia', 'F', 25],
 [0, 3, 'Lindahl, Miss. Agda Thorilda Viktoria', 'F', 25],
 [0, 2, 'Butler, Mr. Reginald Fenton', 'M', 25],
 [1, 3, 'Persson, Mr. Ernst Ulrik', 'M', 25],
 [0, 3, 'Brobeck, Mr. Karl Rudolf', 'M', 22],
 [0, 3, 'Gustafsson, Mr. Karl Gideon', 'M', 19],
 [1, 1, 'Smith, Mrs. Lucien Philip', 'F', 18],
 [0, 2, 'Hiltunen, Miss. Marta', 'F', 18],
 [0, 2, 'Fillbrook, Mr. Joseph Charles', 'M', 18],
 [0, 3, 'Vander Planke, Miss. Augusta Maria', 'F', 18]]

In [38]:
print(titanic)

[[1, 1, 'Smith, Mrs. Lucien Philip', 'F', 18], [0, 3, 'Gustafsson, Mr. Karl Gideon', 'M', 19], [1, 3, 'Jalsevac, Mr. Ivan', 'M', 29], [0, 2, 'Hiltunen, Miss. Marta', 'F', 18], [0, 2, 'Fillbrook, Mr. Joseph Charles', 'M', 18], [1, 3, 'McCoy, Miss. Alicia', 'F', 25], [0, 3, 'Lindahl, Miss. Agda Thorilda Viktoria', 'F', 25], [0, 2, 'Butler, Mr. Reginald Fenton', 'M', 25], [0, 3, 'Harknett, Miss. Alice Phoebe', 'F', 32], [0, 3, "O'Brien, Mr. Timothy", 'M', 49], [1, 1, 'Wilson, Miss. Helen Alice', 'F', 31], [0, 3, 'Sage, Mr. Frederick', 'M', 38], [0, 3, 'Palsson, Miss. Stina Viola', 'F', 33], [1, 3, "O'Brien, Mrs. Thomas", 'F', 37], [1, 3, 'Persson, Mr. Ernst Ulrik', 'M', 25], [1, 1, 'Hays, Mrs. Charles Melville', 'F', 52], [0, 3, 'Vander Planke, Miss. Augusta Maria', 'F', 18], [0, 3, 'Brobeck, Mr. Karl Rudolf', 'M', 22], [1, 1, 'Salomon, Mr. Abraham L', 'M', 63], [0, 1, 'Chisholm, Mr. Roderick Robert Crispin', 'M', 51], [0, 3, 'Leinonen, Mr. Antti Gustaf', 'M', 32]]

In [39]:
?print()

In [42]:
max(titanic, key = lambda x : x[4])[4]

63