In [1]:
import pandas as pd
import numpy as np
import random
from sklearn.model_selection import train_test_split

In [2]:
df  = pd.read_csv('KaggleV2-May-2016.csv')

In [5]:
random.seed(0)
omit = list()
for i in range(10000):
    omit.append((random.randint(0,110527) , random.randint(2,12)))

In [6]:
df2 = df.copy()

In [7]:
for row in omit:
    df2.iloc[row[0],row[1]] = np.nan

In [8]:
df3 = df2.sample(frac=1).reset_index(drop=True).copy()

In [13]:
df3.dtypes

PatientId         float64
AppointmentID       int64
Gender             object
ScheduledDay       object
AppointmentDay     object
Age               float64
Neighbourhood      object
Scholarship       float64
Hipertension      float64
Diabetes          float64
Alcoholism        float64
Handcap           float64
SMS_received      float64
No-show            object
dtype: object

In [20]:
pd.isna

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [24]:
df3['Age'].isna().sum()

918

In [9]:
test = df3.iloc[0:10000,:].reset_index(drop=True)

In [10]:
train = df3.iloc[10000:,:].reset_index(drop=True)

In [11]:
test.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,3.372422e+13,5650017,F,2016-05-03T07:24:11Z,2016-05-11T00:00:00Z,38.0,ILHA DO PRÍNCIPE,1.0,0.0,0.0,0.0,0.0,1.0,No
1,1.665297e+14,5694052,M,2016-05-13T08:03:23Z,2016-05-13T00:00:00Z,16.0,MATA DA PRAIA,0.0,0.0,0.0,0.0,0.0,0.0,No
2,4.468281e+12,5748491,F,2016-05-31T07:06:19Z,2016-06-02T00:00:00Z,47.0,PRAIA DO CANTO,0.0,0.0,0.0,0.0,0.0,0.0,Yes
3,1.495923e+13,5748605,F,2016-05-31T07:10:23Z,2016-06-02T00:00:00Z,61.0,JARDIM CAMBURI,0.0,0.0,0.0,0.0,0.0,0.0,No
4,8.622448e+14,5683044,F,2016-05-11T07:09:49Z,2016-05-16T00:00:00Z,44.0,ILHA DO PRÍNCIPE,0.0,0.0,0.0,0.0,0.0,0.0,No

In [12]:
train.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,8.992744e+12,5541708,F,2016-04-05T08:16:05Z,2016-05-16T00:00:00Z,49.0,VILA RUBIM,0.0,0.0,0.0,0.0,0.0,0.0,No
1,3.391836e+13,5737994,M,2016-05-25T10:21:16Z,2016-05-25T00:00:00Z,51.0,SÃO PEDRO,0.0,1.0,0.0,0.0,0.0,0.0,No
2,1.637466e+12,5675131,F,2016-05-09T13:08:49Z,2016-05-09T00:00:00Z,23.0,SANTO ANTÔNIO,0.0,0.0,0.0,0.0,0.0,0.0,No
3,4.584984e+13,5765626,F,2016-06-02T13:26:23Z,2016-06-06T00:00:00Z,63.0,ROMÃO,0.0,0.0,0.0,NaN,0.0,1.0,No
4,4.777472e+09,5644229,F,2016-05-02T08:24:39Z,2016-05-02T00:00:00Z,49.0,CARATOÍRA,1.0,0.0,0.0,0.0,0.0,0.0,No

In [22]:
test.to_csv('test.csv',encoding='UTF8')

In [23]:
train.to_csv('train.csv',encoding='UTF8')