In [1]:
import sys
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import urllib.request

In [2]:
def get_salary(batter_name,year_born):
    url_main = 'http://www.statiz.co.kr/player.php?'
    url_salary = 'opt=11' 
    url_name = '&name='+str(batter_name)
    url_birth = '&birth='+str(year_born)
    full_url = url_main + url_salary + url_name + url_birth

    html=requests.get(full_url).text
    soup=BeautifulSoup(html,'html.parser')
    
    columns=soup.select('div.box-body > table > tr > th')
    columnlist=[]
    for column in columns:
        columnlist.append(column.text)

    contents=soup.select('div.box-body > table > tr ')
    dfcontent=[]
    alldfcontents=[]

    for content in contents:
        tds=content.find_all('td')
        for td in tds:
            dfcontent.append(td.text)
        alldfcontents.append(dfcontent)
        dfcontent=[]
    
    df_salary=pd.DataFrame(columns=columnlist,data=alldfcontents)
    df_salary['batter_name']=str(batter_name)
    df_salary['year_born']=str(year_born)
    
    return df_salary.head()

In [3]:
df_RSB = pd.read_csv(r'C:\Users\ahn92\Dropbox\Sources\Dacon_PJ\RSB.csv',na_values='-',encoding='CP949')
df_RSB['year_born'] = pd.to_datetime(df_RSB['year_born'].map(lambda x: x.replace('년 ','-').replace('월 ','-').replace('일','')))

birth_unique=df_RSB['year_born'].unique()
name_unique=df_RSB['batter_name'].unique()

In [18]:
#len(str(name_unique))
for i in range(5):
    print(get_salary(str(name_unique[i]),str(birth_unique[i])[0:10]))

     연도  연봉(만원)    WAR batter_name   year_born
0  None    None   None        가르시아  1985-04-12
1  2018  80,000  1.278        가르시아  1985-04-12
     연도 연봉(만원)     WAR batter_name   year_born
0  None   None    None         강경학  1992-08-11
1  2011          0.005         강경학  1992-08-11
2  2014  2,400   0.053         강경학  1992-08-11
3  2015  6,500   0.010         강경학  1992-08-11
4  2016  6,500  -0.943         강경학  1992-08-11
     연도 연봉(만원)     WAR batter_name   year_born
0  None   None    None         강구성  1993-06-09
1  2013  2,400  -0.048         강구성  1993-06-09
2  2015  2,700  -0.020         강구성  1993-06-09
3  2016  2,700  -0.070         강구성  1993-06-09
4  2017  2,700   0.004         강구성  1993-06-09
     연도 연봉(만원)     WAR batter_name   year_born
0  None   None    None         백승룡  1982-08-16
1  2005         -0.369         백승룡  1982-08-16
2  2006  2,470   0.048         백승룡  1982-08-16
3  2007  3,200  -0.087         백승룡  1982-08-16
4  2008  2,700  -0.020         백승룡  1982-08-16
     연도 연봉(만원)     WAR batter_name   year_born
0  None   None    None         진갑용  1974-05-08
1  1997  2,000   1.226         진갑용  1974-05-08
2  1998  3,200   1.217         진갑용  1974-05-08
3  1999  3,200  -0.168         진갑용  1974-05-08
4  2000  5,000   2.002         진갑용  1974-05-08

In [15]:
import binascii
#binascii.b2a_hex('강경학'.encode('utf-8'))join('%')
def strkor(name):
    seq = str(binascii.b2a_hex(name.encode('utf-8')))[2:-1].upper()
    length=2
    j=''
    for i in list(map(''.join, zip(*[iter(seq)]*length))):
        j =  j + '%'+i
    return(j)
def kortohex(han):
    a = list(map(lambda x: binascii.b2a_hex(x.encode('utf-8')),han))
    return a

In [16]:
def get_record(batter_name,year_born):
    url_main = 'http://www.statiz.co.kr/player.php?'
    url_record = 'opt=1' 
    url_name = '&name='+strkor(str(batter_name))
    #url_name =''
    url_birth = '&birth='+str(year_born)
    full_url = url_main + url_record + url_name + url_birth
    #full_url = full_url.encode('utf-8').strip()
    print(full_url)
    html = urllib.request.urlopen(full_url)
    soup = BeautifulSoup(html, 'lxml', from_encoding='utf-8')

    #html=requests.get(full_url).text
    #soup=BeautifulSoup(html,'html.parser')

    contents=soup.select('div.box-body > table > tr ')
    dfcontent=[]
    alldfcontents=[]

    for content in contents:
        tds=content.find_all('td')
        for td in tds:
            dfcontent.append(td.text)
        alldfcontents.append(dfcontent)
        dfcontent=[]

    df_record=pd.DataFrame(data=alldfcontents)[2:100]
    df_record.rename(columns={0:'year',1:'team',2:'age',3:'position',4:'g',5:'타석',6:'타수',7:'득점',8:'안타',9:'2타',10:'3타',
                          11:'HR',12:'루타',13:'타점',14:'도루',15:'도실',16:'B4',17:'사구',18:'고4',19:'삼진',20:'병살',
                          21:'희타',22:'희비',23:'타율',24:'출루',25:'장타',26:'OPS',27:'WOBA',28:'WRC+',29:'WAR',30:'WPA'},
                     inplace=True)
    return df_record.head(10)

In [17]:
 print(get_record(str(name_unique[1]),str(birth_unique[1])[0:10]))

http://www.statiz.co.kr/player.php?opt=1&name=%EA%B0%95%EA%B2%BD%ED%95%99&birth=1992-08-11
    year  team   age position     g    타석    타수    득점    안타    2타  ...    \
2   2011    한화    19       3B     2     1     1     0     0     0  ...
3   2014    한화    22       SS    41   103    86    11    19     2  ...
4   2015    한화    23       SS   120   376   311    50    80     7  ...
5   2016    한화    24       SS    46   116   101    16    16     3  ...
6   2017    한화    25       2B    59    93    84    17    18     2  ...
7   2018    한화    26       2B    77   289   245    42    68    11  ...
8   None  None  None     None  None  None  None  None  None  None  ...
9   None  None  None     None  None  None  None  None  None  None  ...
10     6    통산    2B      345   978   828   136   201    25    11  ...

      희타     희비     타율     출루     장타    OPS   WOBA   WRC+    WAR    WPA
2      0      0  0.000  0.000  0.000  0.000  0.000          0.01
3      2      0  0.221  0.337  0.349  0.686  0.316   65.6   0.21  -0.11
4     18      3  0.257  0.348  0.325  0.673  0.304   66.4   0.11  -0.32
5      4      1  0.158  0.232  0.257  0.490  0.223   10.5  -0.69  -1.10
6      0      0  0.214  0.290  0.262  0.552  0.264   44.1  -0.16  -0.81
7      1      1  0.278  0.382  0.392  0.774  0.353  101.4   1.38   0.77
8   None   None   None   None   None   None   None   None   None   None
9   None   None   None   None   None   None   None   None   None   None
10     5  0.243  0.338  0.332  0.670  0.306   69.2   0.85          None

[9 rows x 31 columns]

In [40]:
kortohex('강경학')

[b'eab095', b'eab2bd', b'ed9599']

In [57]:
strkor('강경학')

'%EA%B0%95%EA%B2%BD%ED%95%99'

In [8]:
def get_scehdule(batter_name, year_born, team, year):
    url_main = 'http://www.statiz.co.kr/player.php?'
    url_scehdule = 'opt=3&sopt=0' 
    url_name = '&name='+str(batter_name)
    url_birth = '&birth='+str(year_born)+'&re=0&se=&da=&year='+str(year)+'&cv='
    full_url = url_main + url_scehdule + url_name + url_birth

    html=requests.get(full_url).text
    soup=BeautifulSoup(html,'html.parser')

    #html = urllib.request.urlopen(full_url)
    #soup = BeautifulSoup(html, 'lxml', from_encoding='utf-8')

    contents=soup.select('div.box-body > table > tr ')
    dfcontent=[]
    alldfcontents=[]

    for content in contents:
        tds=content.find_all('td')
        for td in tds:
            dfcontent.append(td.text)
            alldfcontents.append(dfcontent)
            dfcontent=[]
    
    df2=pd.DataFrame(data=alldfcontents)
    df2['year']=str(year)
    df2['team']=str(team)
    df2.rename(columns={0:'date',1:'opposing'}, inplace=True)
    df3=df2[['year','date','team','opposing']]
    return df3.head()

In [9]:
df3.head()

NameError: name 'df3' is not defined

In [0]:
df2['year']='2018'
df2['team']='한화'
df2['batter_name']='강경학'

In [10]:
get_scehdule('강경학', '1992-08-11', '한화', '2018')

KeyError: "['opposing'] not in index"